<template>
    <div>
        <div class="modal fade" id="order-details">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header mb-1" style="margin: 0 auto;">
                        <h5 class="modal-title text-accent font-weight-bold"><em>Nº Pedido: <span id="modal-pedido-id">PED-{{(recibo.id+"").padStart(8, "0")}}</span></em></h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div id="modal-pedido-detalle" class="modal-body py-3" style="padding: 0">
                        <!-- Item-->
                        <div class="d-flex mb-1 py-2 px-5 justify-content-between" v-for="(pro, ind) in detalle" :key="ind">
                            <div class="w-25">
                                <a class="d-inline-block mr-4" href="#">
                                    <img class="rounded" style="width: 100px"  :src=pro.imagen alt="Product">
                                </a>
                            </div>
                            <div class="pt-2 w-75 d-flex flex-column ">
                                <div class="mb-1 font-weight-medium">
                                    <a class="text-dark" href="#">{{pro.categoria.toUpperCase()}}</a>
                                </div>
                                <div class="mb-1">
                                    <a class="text-dark" href="#">{{pro.detalle.toLowerCase().replace(/\b[a-z]/g,c=>c.toUpperCase())}}</a>
                                </div>
                                <div class="text-accent">S/ {{pro.subtotal.toFixed(2)}} x {{pro.cantidad}} = S/ {{pro.total.toFixed(2)}}</div>
                            </div>

                        </div>
                    </div>
                    <!-- Footer-->
                    <div class="modal-footer flex-wrap justify-content-between bg-secondary">
                        <div class="px-2 py-1"><span class="text-muted">Subtotal:&nbsp;</span><span
                            id="modal-pedido-subtotal">S/.{{recibo.subtotal.toFixed(2)}}</span></div>
                        <div class="px-2 py-1"><span class="text-muted">IGV (18%):&nbsp;</span><span id="modal-pedido-igv">S/.{{recibo.igv.toFixed(2)}}</span>
                        </div>
                        <div class="px-2 py-1">
                            <span class="text-muted">Costo de Envío:&nbsp;</span>
                            <span id="modal-pedido-costoenvio">S/.{{recibo.costoenvio.toFixed(2)}}</span>
                        </div>
                        <div class="px-2 py-1"><span class="text-muted">Total:&nbsp;</span>
                            <span id="modal-pedido-total" class="font-size-lg font-weight-bold">S/.{{recibo.total.toFixed(2)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pb-5 mb-2 mb-md-2">
            <div class="row">
                <!-- Content  -->
                <section class="col-lg-12">
                    <!-- Toolbar-->
                    <div class="d-flex justify-content-between align-items-center pt-lg-2 pb-3 pb-lg-2 mb-lg-2">
                        <div class="form-inline" id="form-mis-pedidos">
                            <label class="mr-2" for="order-sort">Buscar Por Estado:</label>
                            <select name="busqueda" class="form-control custom-select" id="order-sort" v-model="estado" @change="buscarPorEstado">
                                <option value="0">Todos</option>
                                <option value="1">Pendientes</option>
                                <option value="2">Atendidos</option>
                                <option value="3">Completados</option>
                                <option value="4">Cancelados</option>
                            </select>
                            <label class="mr-2 ml-0 ml-sm-3 mt-sm-0 mt-3" for="id-num-pedido">Buscar por Nº de pedido:</label>
                            <input id="id-num-pedido" type="text" class="form-control" v-on:keyup.enter="buscarPorEstado" name="num_pedido" v-model="nroPedido">
                        </div>
                    </div>
                    <!-- Orders list-->
                    <div class="table-responsive text-nowrap vld-parent" style="height: 400px">
                        <loading :active.sync="isLoading" :can-cancel="true" :on-cancel="onCancel" :is-full-page="fullPage" loader="dots" color="red" background-color="white" :opacity="0.7"></loading>
                        <table class="table table-hover table-striped mb-0">
                            <thead>
                            <tr>
                                <th>Pedido</th>
                                <th>Fecha de Compra</th>
                                <th>Tipo de Envío</th>
                                <th style="text-align: right">Costo de Envío</th>
                                <th style="text-align: center">Estado</th>
                                <th style="text-align: right">Total</th>
<!--                                <th style="text-align: center">Acciones</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(recibo, index) in recibos" :key="index">
                                <td class="py-1">
                                    <a class="nav-link-style font-weight-medium text-accent" href="#" @click="verModal(recibo.id)"
                                       data-toggle="modal">PED-{{(recibo.id+"").padStart(8, "0")}}</a>
                                    <!--onclick="verModal({{recibo.id}}')"-->
                                </td>
                                <td class="py-1" :set="fechita=new Date(recibo.created_at)" >{{ fechita.getDate()+'/'+ (fechita.getMonth() + 1) + '/' +  fechita.getFullYear() }}</td>
                                <td class="py-1">
                                    <span v-if="recibo.tipoenvio == 1">Contra Entrega</span>
                                    <span v-else>Depósito en Cuenta</span>
                                </td>
                                <td class="py-1" style="text-align: right">S/ {{recibo.costoenvio}}</td>
                                <td class="py-1 text-center">
                                    <span v-if="recibo.estado == 1" class="badge badge-warning m-0">Pendiente</span>
                                    <span v-else-if="recibo.estado == 2" class="badge badge-info m-0">Costo Envío Asignado</span>
                                    <span v-else-if="recibo.estado == 3" class="badge badge-success m-0">Enviado</span>
                                    <span v-else-if="recibo.estado == 4" class="badge badge-primary m-0">Entregado</span>
                                    <span v-else-if="recibo.estado == 9" class="badge badge-primary m-0">Cancelado</span>
                                    <span v-else class="badge badge-accent m-0">Otro Estado</span>
                                </td>
                                <td class="py-1" style="text-align: right">
                                    S/ {{recibo.total.toFixed(2)}}
                                </td>
<!--                                <td class="text-center">-->
<!--                                    <button class="btn btn-sm btn-outline-primary">Adjuntar Voucher</button>-->
<!--                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination-->
                    <nav class="d-flex justify-content-between mt-4" aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item"  v-bind:class="{ disabled:  current_page == 1 }">
                                <a class="page-link" href="#"><i class="czi-arrow-left mr-2"></i>Anterior</a>
                            </li>
                        </ul>
                        <ul class="pagination">
                            <li class="page-item d-sm-none">
                                <span class="page-link page-link-static">{{current_page}} / {{last_page}}</span>
                            </li>
                            <li v-for="n in last_page" class="page-item d-none d-sm-block" v-bind:class="{ active: n == current_page }">
                                <a class="page-link cursormano" @click="getPedidos(n)">{{n}}</a>
                            </li>
                        </ul>
                        <ul class="pagination">
                            <li class="page-item" v-bind:class="{ disabled:  current_page == last_page }">
                                <a class="page-link" href="#" aria-label="Next">Siguiente<i class="czi-arrow-right ml-2"></i></a>
                            </li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        data() {
            return {
                recibo : {
                    id:0,
                    costoenvio : 0,
                    subtotal : 0,
                    total : 0,
                    igv : 0
                },
                detalle : [],
                recibos : [],
                estado : 0,
                nroPedido : '',
                isLoading: false,
                fullPage: false,
                current_page : 0,
                total : 0,
                per_page: 12,
                to: 0,
                last_page: 3,
                first_page_url: "",
                last_page_url: "",
                next_page_url: "",
                prev_page_url: "",
            }
        },
        created() {
            console.log("CompraPrincipal component created");

        },
        mounted() {
            this.getPedidos(1);
        },
        components: {
            Loading
        },
        methods : {
            redirectUrlCarrito() {
                window.location.href = "/carrito";
            },
            buscarPorEstado(){
                //Si busca por estos filtros empezaria desde la pagina 1
                let busqueda = this.estado;
                let num_pedido = this.nroPedido;
                this.isLoading = true;
                axios.get(`/api/pedidos?page=1&busqueda=${busqueda}&num_pedido=${num_pedido}`).then(res => {
                    console.log("Pedidos ", res);
                    this.isLoading = false;
                    this.recibos = res.data.data;
                    this.current_page = res.data.current_page;
                    this.last_page = res.data.last_page;
                    this.total = res.data.total;
                    this.to = res.data.to;
                    this.per_page = res.data.per_page;
                    this.last_page_url = res.data.last_page_url;
                    this.first_page_url = res.data.first_page_url;
                    this.next_page_url = res.data.next_page_url;
                    this.prev_page_url = res.data.prev_page_url;
                });
            },
            getPedidos(page) {
                this.isLoading = true;
                let busqueda = this.estado;
                let num_pedido = this.nroPedido;

                axios.get(`/api/pedidos?page=${page}&busqueda=${busqueda}&num_pedido=${num_pedido}`).then(res => {
                    console.log("Pedidos ", res);

                    this.isLoading = false;
                    this.recibos = res.data.data;
                    this.current_page = res.data.current_page;
                    this.last_page = res.data.last_page;
                    this.total = res.data.total;
                    this.to = res.data.to;
                    this.per_page = res.data.per_page;
                    this.last_page_url = res.data.last_page_url;
                    this.first_page_url = res.data.first_page_url;
                    this.next_page_url = res.data.next_page_url;
                    this.prev_page_url = res.data.prev_page_url;
                });
            },
            onCancel() {
                console.log('User cancelled the loader.')
            },
            verModal(id){
                this.isLoading = true;
                this.recibo.id = id;
                axios.get(`/api/ventas/${id}`).then(res => {
                    console.log("PEDIDOS ", res);
                    this.isLoading = false;
                    this.recibo = res.data.recibo;
                    this.detalle = res.data.detalle;
                    $('#order-details').modal('show');
                    console.log("Recibo ",this.recibo);
                    // this.recibo.detalle = res.data.detalle;
                });
            }
        }
    }
</script>
