.nc-title-product{
    color:black;
    font-size: 16px;
    font-weight: 400;
}

.nc-title-product a{
    color:black;
}

.nc-title-cate{
    color:black;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}

.nc-text-normal{
    color:black;
    font-size: 16px;
}
.nc-text-bold{
    color:black;
    font-size: 16px;
    font-weight: 500;
}
