<template>
    <div class="vld-parent">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :on-cancel="onCancel"
                 :is-full-page="fullPage"
                 loader="dots" color="red" background-color="white" :opacity="0.7">
        </loading>
<!--         <div class="pb-4">-->
        <div class="container d-lg-flex justify-content-between py-0 pb-2">
            <div class="order-lg-2 mb-1 mb-sm-3 pt-1">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item">
                            <a class="text-nowrap cursormano" onclick="window.location.href = '/tienda'"><i class="czi-navigation"></i>Tienda</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="cursormano" onclick="window.location.href='/carito'"><i class="czi-cart"></i>Carrito</a>
                        </li>
                        <li class="breadcrumb-item text-primary font-weight-medium" aria-current="page"><i class="czi-coins"></i> Comprar</li>
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pr-lg-4 text-center text-lg-left d-none d-sm-inline">
                <h2 class="text-accent mb-0 font-weight-medium"><em><i class="czi-coins"></i> Comprar</em></h2>
            </div>
        </div>
<!--         </div>-->
        <!-- PASO 1 CARRITO-->
        <div v-if="isViewCarrito" class="container pb-0 pb-sm-2 mb-0 mb-md-4">
            <div class="row">
                <section class="col-lg-8 mb-3">
                    <!-- Steps-->
                    <div class="steps steps-light pt-2 pb-1 pb-sm-3">
                        <a class="step-item active current">
                            <div class="step-progress">
                                <span class="step-count ">1</span>
                            </div>
                            <div class="step-label font-weight-bold font-size-lg text-primary"><i class="czi-cart"></i>Mi Carrito</div>
                        </a>
                        <a class="step-item cursormano" @click="verViewDireccion">
                            <div class="step-progress"><span class="step-count" >2</span></div>
                            <div class="step-label font-size-sm text-dark"><i class="czi-card"></i>Datos de Envío</div>
                        </a>
                        <a class="step-item">
                            <div class="step-progress" ><span class="step-count" >3</span></div>
                            <div class="step-label font-size-sm text-dark"><i class="czi-card"></i>Resumen</div>
                        </a>
                    </div>
                    <div class="mt-3 mb-10">
                        <div class="d-flex pb-2" v-for="(pro, index) in carrito" :key="index">
                            <div class="w-25 text-center">
                                <a class="d-block cursormano" @click="irDetalle(pro.id)">
                                    <img width="100px" class="rounded" :src=pro.imagen1 alt="Product"/>
                                </a>
                            </div>
                            <div class="w-75 px-2">
                                <a @click="irACategoria(pro.categoria.id)" class="d-block text-dark font-weight-bold cursormano">{{pro.categoria.nombre}}</a>
                                <a @click="irDetalle(pro.id)" class="cursormano">{{pro.nombre}}</a>
                                <div class="">
                                    S/ {{ pro.precioRebaja.toFixed(2)}} X {{pro.cantidad}} = <span class="text-primary">S/ {{ pro.subtotal.toFixed(2)}}</span>
                                </div>
                            </div>
                        </div>

                        <h2 class="font-weight-bold text-center my-4" style="font-family: monospace; ">
                            TOTAL: <em class="text-primary" style="font-size: 2.0rem">S/ {{ subtotal.toFixed(2).toString().split('.')[0]}}.<small>{{ subtotal.toFixed(2).toString().split('.')[1]}}</small></em>
                        </h2>
                    </div>
                    <!-- Navigation (desktop)-->
                    <div class="d-none d-lg-flex pt-4 mt-3">
                        <div class="w-50 pr-3">
                            <a class="btn btn-secondary btn-block" @click="redirectUrlCarrito">
                                <i class="czi-arrow-left mt-sm-0 mr-1"></i>
                                <span class="d-none d-sm-inline">Editar Carrito</span>
                            </a>
                        </div>
                        <div class="w-50 pl-2">
                            <a class="btn btn-primary btn-block" @click="verViewDireccion">
                                <span class="d-none d-sm-inline">Siguiente</span>
                                <i class="czi-arrow-right mt-sm-0 ml-1"></i>
                            </a>
                        </div>
                    </div>
                </section>
                <!-- Sidebar items-->
<!--                <aside class="col-lg-4 pt-4 pt-lg-0">-->
<!--                    <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">-->
<!--                        <div class="widget mb-3">-->
<!--                            <h4 class="text-center mb-4 text-primary font-weight-bold d-none d-sm-block">Mi Carrito</h4>-->
<!--                            <div class="media align-items-center pb-2" v-for="(pro, index) in carrito" :key="index">-->
<!--                                <a class="d-block mr-2" href="">-->
<!--                                    <img width="64" :src=pro.imagen alt="Product"/>-->
<!--                                </a>-->
<!--                                <div class="media-body">-->
<!--                                    <h6 class="widget-product-title">-->
<!--                                        <a href="shop-single-v1.html">{{pro.nombre}}</a>-->
<!--                                    </h6>-->
<!--                                    <div class="widget-product-meta">-->
<!--                                        <span class="text-accent mr-2">-->
<!--                                        S/. {{ pro.precioRebaja.toFixed(2).toString().split('.')[0]}}.<small>{{ pro.precioRebaja.toFixed(2).toString().split('.')[1]}}</small>-->
<!--                                        </span>-->
<!--                                            <span class="text-muted">x {{pro.cantidad}}</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <ul class="list-unstyled font-size-sm pb-2 border-bottom">-->
<!--                            <li class="d-flex justify-content-between align-items-center">-->
<!--                                <span class="mr-2">Subtotal:</span>-->
<!--                                <span class="text-right">-->
<!--                                S/. {{ subtotal.toFixed(2).toString().split('.')[0]}}.<small>{{ subtotal.toFixed(2).toString().split('.')[1]}}</small>-->
<!--                            </span>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <h3 class="font-weight-bold text-center my-4 text-primary">-->
<!--                            <em>S/. {{ subtotal.toFixed(2).toString().split('.')[0]}}.<small>{{ subtotal.toFixed(2).toString().split('.')[1]}}</small></em>-->
<!--                        </h3>-->
<!--                    </div>-->
<!--                </aside>-->
            </div>


            <!-- Navigation (mobile)-->
            <div class="row d-lg-none mb-5">
                <div class="col-lg-8">
                    <div class="d-flex pt-4 mt-3">
                        <div class="w-50 pr-3">
                            <a class="btn btn-secondary btn-block" @click="redirectUrlCarrito">
                                <i class="czi-arrow-left mt-sm-0 mr-1"></i><span class="d-inline d-sm-none">Editar Carrito</span>
                            </a>
                        </div>
                        <div class="w-50 pl-2">
                            <a class="btn btn-primary btn-block" @click="verViewDireccion">
                                <span class="d-inline d-sm-none">Siguiente</span><i class="czi-arrow-right mt-sm-0 ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!--        DIRECCION-->
        <div v-if="isViewDireccion" class="container pb-0 pb-sm-2 mb-0 mb-md-4">
            <div class="row">
                <section class="col-lg-8">
                    <!-- Steps-->
                    <div class="steps steps-light pt-2 pb-1 pb-sm-3">
                        <a class="step-item active current" @click="verViewCarrito()">
                            <div class="step-progress">
                                <span class="step-count ">1</span>
                            </div>
                            <div class="step-label text-dark"><i class="czi-cart"></i>Mi Carrito</div>
                        </a>
                        <a class="step-item active current">
                            <div class="step-progress">
                                <span class="step-count ">2</span>
                            </div>
                            <div class="step-label font-weight-normal font-size-lg text-primary"><i class="czi-card"></i>Datos de Envío</div>
                        </a>
                        <a class="step-item cursormano" @click="verViewResumen">
                            <div class="step-progress" ><span class="step-count" >3</span></div>
                            <div class="step-label text-dark"><i class="czi-card"></i>Resumen</div>
                        </a>
                    </div>

                    <!-- Shipping address-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="checkout-fn">Nombres</label>
                                <input class="form-control text-capitalize" type="text" id="checkout-fn" v-model="direccionEnvio.nombreCompleto">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="checkout-email">Correo Electrónico</label>
                                <input class="form-control" type="email" id="checkout-email" v-model="direccionEnvio.email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="checkout-phone">Celular</label>
                                <input class="form-control" type="text" id="checkout-phone" v-model="direccionEnvio.celular">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="checkout-city">Departamento</label>
                                <select class="form-control custom-select" id="checkout-city" v-model="direccionEnvio.departamento.id"
                                        @change="getProvinciaPorDepartamento">
                                    <option value="00">- Seleccione -</option>
                                    <option v-for="(dep, index) in departamentos" :key="index" :value=dep.departamento_id>{{dep.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="checkout-country">Provincia</label>
                                <select class="form-control custom-select" id="checkout-country" v-model="direccionEnvio.provincia.id"
                                        @change="getDistritosPorProvinciayDepartamento">
                                    <option value="0000">- Seleccione -</option>
                                    <option v-for="(prov, index) in provincias" :key="index" :value="prov.departamento_id + prov.provincia_id">
                                        {{prov.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="checkout-country">Distrito</label>
                                <select class="form-control custom-select" v-model="direccionEnvio.distrito.id"  @change="setNombreDistrito">
                                    <option value="000000">- Seleccione -</option>
                                    <option v-for="(dist, index) in distritos"
                                            :key="index" :value="dist.departamento_id + dist.provincia_id + dist.distrito_id">{{dist.nombre}}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="checkout-address-1">Dirección</label>
                                <input class="form-control" type="text" id="checkout-address-1" v-model="direccionEnvio.direccion">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="checkout-address-2">Referencia</label>
                                <input class="form-control" type="text" id="checkout-address-2" v-model="direccionEnvio.referencia">
                            </div>
                        </div>
                    </div>
<!--                    <div>-->
<!--                        Se reconocio las siguientes coordenadas lat {{coordinates.lat}} - long {{coordinates.lng}}-->
<!--&lt;!&ndash;                        <GmapMap&ndash;&gt;-->
<!--&lt;!&ndash;                            :center="{lat:-11.9366454, lng:-76.98720759999999}"&ndash;&gt;-->
<!--&lt;!&ndash;                            :zoom="15"&ndash;&gt;-->
<!--&lt;!&ndash;                            style="width: 100%; height: 400px">&ndash;&gt;-->
<!--&lt;!&ndash;                            &lt;!&ndash; map-type-id="terrain"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        </GmapMap>&ndash;&gt;-->
<!--                        <a class="btn btn-primary" @click="abrirMapa">Abrir App Map</a>-->
<!--                    </div>-->
                    <!-- Navigation (desktop)-->
                    <div class="d-none d-lg-flex pt-4 mt-3 mb-3">
                        <div class="w-50 pr-3">
                            <a class="btn btn-secondary btn-block" @click="verViewCarrito">
                                <i class="czi-arrow-left mt-sm-0 mr-1"></i>
                                <span class="d-none d-sm-inline">Regresar al Carrito</span>
                                <span class="d-inline d-sm-none">Atrás</span>
                            </a>
                        </div>
                        <div class="w-50 pl-2">
                            <a class="btn btn-primary btn-block" @click="verViewResumen">
                                <span class="d-none d-sm-inline">Ver Resumen</span>
                                <span class="d-inline d-sm-none">Siguiente</span>
                                <i class="czi-arrow-right mt-sm-0 ml-1"></i>
                            </a>
                        </div>
                    </div>
                </section>
                <!-- Sidebar-->
                <aside class="col-lg-4 pt-4 pt-lg-0 d-none d-sm-block">
                    <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
                        <div class="widget mb-3">
                            <h4 class="text-center mb-4 font-weight-bold">Mi Carrito</h4>
                            <div class="media align-items-center pb-2 border-bottom" v-for="(pro, index) in carrito" :key="index">
                                <a class="d-block mr-2"  @click="irDetalle(pro.id)">
                                    <img width="80" :src=pro.imagen1 alt="Product"/>
                                </a>
                                <div class="media-body">
                                    <span class="widget-product-title d-block">
                                        <a class="cursormano" @click="irACategoria(pro.categoria.id)">{{pro.categoria.nombre}}</a>
                                    </span>
                                    <span class="">
                                        <a class="cursormano" @click="irDetalle(pro.id)">{{pro.nombre}}</a>
                                    </span>
                                    <div class="widget-product-meta">
                                    <span class="text-primary mr-2">
                                    S/ {{ pro.precioRebaja.toFixed(2)}}
                                    </span>
                                        <span class="text-muted">x {{pro.cantidad}}</span></div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-unstyled font-size-sm pb-2 border-bottom">
                            <li class="d-flex justify-content-between align-items-center">
                                <span class="mr-2">Subtotal:</span>
                                <span class="text-right">
                                S/ {{ subtotal.toFixed(2).toString().split('.')[0]}}.<small>{{ subtotal.toFixed(2).toString().split('.')[1]}}</small>
                            </span>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-between ">
                            <small class="text-left text-accent">*El Vendedor se comunicará con usted para coordinar el precio del envío</small>
                        </div>
                        <h3 class="font-weight-normal text-center my-4 text-primary" style="font-family: monospace">
                            <em>S/ {{ subtotal.toFixed(2).toString().split('.')[0]}}.<small>{{ subtotal.toFixed(2).toString().split('.')[1]}}</small></em>
                        </h3>
                    </div>
                </aside>
            </div>
            <!-- Navigation (mobile)-->
            <div class="row d-lg-none mb-5">
                <div class="col-lg-8">
                    <div class="d-flex pt-4 mt-3">
                        <div class="w-50 pr-3">
                            <a class="btn btn-secondary btn-block" @click="verViewCarrito">
                                <i class="czi-arrow-left mt-sm-0 mr-1"></i>
                                <span class="d-none d-sm-inline">Regresar al Carrito</span>
                                <span class="d-inline d-sm-none">Regresar</span>
                            </a>
                        </div>
                        <div class="w-50 pl-2">
                            <a class="btn btn-primary btn-block" @click="verViewResumen">
                                <span class="d-none d-sm-inline">Ver Resumen</span>
                                <span class="d-inline d-sm-none">Siguiente</span>
                                <i class="czi-arrow-right mt-sm-0 ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        <div>-->
<!--            <direccion-envio v-if="isViewDireccion" @verViewResumen="verViewResumen"-->
<!--                             :carrito="carrito" :user="user" :subtotal="subtotal" :direccionEnvio="direccionEnvio"-->
<!--                             v-bind:departamentos="departamentos" v-bind:provincias="provincias" v-bind:distritos="distritos"-->
<!--                             @onLoadProvincias="onLoadProvincias" @onLoadDistritos="onLoadDistritos"-->
<!--            ></direccion-envio>-->
<!--        </div>-->

<!--        RESUMEN-->
        <div class="container pb-5 mb-2 mb-md-4" v-if="isViewResumen">
            <div class="row">
                <section class="col-lg-7">
                    <!-- Steps-->
                    <div class="steps steps-light pt-2 pb-2 pb-sm-3">
                        <a class="step-item active current" @click="verViewCarrito">
                            <div class="step-progress">
                                <span class="step-count">1</span>
                            </div>
                            <div class="step-label text-dark"><i class="czi-cart"></i>Mi Carrito</div>
                        </a>
                        <a class="step-item active current" @click="verViewDireccion">
                            <div class="step-progress">
                                <span class="step-count">2</span>
                            </div>
                            <div class="step-label text-dark"><i class="czi-card"></i>Datos de Envío</div>
                        </a>
                        <a class="step-item active current" @click="verViewResumen">
                            <div class="step-progress">
                                <span class="step-count ">3</span>
                            </div>
                            <div class="step-label font-weight-bold font-size-lg text-primary"><i class="czi-card"></i>Resumen</div>
                        </a>
                    </div>
                    <!-- Item-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="bg-secondary rounded-lg px-4 pt-4 pb-2">
                                <h4 class="">Mi Carrito</h4>
                                <div class="d-flex pb-2" v-for="(pro, index) in carrito" :key="index">
                                    <div class="w-25 text-center">
                                        <a class="d-block cursormano" @click="irDetalle(pro.id)">
                                            <img width="100px" class="rounded" :src=pro.imagen1 alt="Product"/>
                                        </a>
                                    </div>
                                    <div class="w-75 px-2">
                                        <a @click="irACategoria(pro.categoria.id)"
                                           class="d-block text-dark font-weight-medium cursormano">{{pro.categoria.nombre}}</a>
                                        <a @click="irDetalle(pro.id)" class="cursormano">{{pro.nombre}}</a>
                                        <div class="">
                                            S/ {{ pro.precioRebaja.toFixed(2)}}
                                            x {{pro.cantidad}} = <span class="text-primary">S/ {{ pro.subtotal.toFixed(2)}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 mt-2 mt-sm-0">
                            <!-- Client details-->
                            <div class="bg-secondary rounded-lg px-4 pt-4 pb-2">
                                <div class="">
                                    <h4 class="">Datos de Envío</h4>
                                    <ul class="list-unstyled font-size-sm">
                                        <li class="text-capitalize"><span class="text-muted ">Cliente:&nbsp;</span>{{direccionEnvio.nombreCompleto.toUpperCase()}}</li>
                                        <li class="text-capitalize"><span class="text-muted ">Celular:&nbsp;</span>{{direccionEnvio.celular}}</li>
                                        <li class=""><span class="text-muted ">Correo:&nbsp;</span>{{direccionEnvio.email}}</li>
                                        <li class="text-capitalize"><span class="text-muted">Dirección:&nbsp;</span>{{direccionEnvio.direccion}}</li>
                                        <li class="text-capitalize"><span class="text-muted">Departamento:&nbsp;</span>{{direccionEnvio.departamento.nombre}}</li>
                                        <li class="text-capitalize"><span class="text-muted">Provincia:&nbsp;</span>{{direccionEnvio.provincia.nombre}}</li>
                                        <li class="text-capitalize"><span class="text-muted">Distrito:&nbsp;</span>{{direccionEnvio.distrito.nombre}}</li>
                                        <li class="text-capitalize"><span class="text-muted">Ubigeo:&nbsp;</span>{{direccionEnvio.distrito.id}}</li>
                                        <li class="text-capitalize"><span class="text-muted">Referencia:&nbsp;</span>{{direccionEnvio.referencia}}</li>
                                    </ul>
                                </div>
                                <div class="">
                                    <h4 class="">Método de Pago</h4>
                                    <ul class="list-unstyled font-size-sm">
                                        <li><span class="text-muted">Comentarios:&nbsp;</span>{{metodoPago.comentario}}</li>
                                        <hr>
                                        <li class="text-accent mt-3">
                                            <span class="text-muted">Tipo de Envío:&nbsp</span>
                                            <span class="font-weight-bold">{{metodoPago.nombreTipoEnvio}}</span>
                                        </li>
                                        <li v-if="metodoPago.idTipoEnvio == 2">
                                            <span class="text-muted">Los datos del número de cuenta, CCI sera enviado a su correo cuando TEVENDO.PE establezca con usted un Costo de Envío&nb</span>
<!--                                            <span v-if="ver" class="font-weight-bold font-size-lg">**** **** **** 5300</span>-->
<!--                                            <span v-else class="font-weight-bold font-size-lg">1234 1918 2456 5300</span>-->
<!--                                            <button style="padding: 0px 6px" class="btn btn-sm btn-primary" @click="ver=!ver">-->
<!--                                                <i class="czi-eye password-toggle-indicator"></i>-->
<!--                                                <span v-if="ver">Ver</span>-->
<!--                                                <span v-else>Ocultar</span>-->
<!--                                            </button>-->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Navigation (desktop)-->
                    <div class="d-none d-lg-flex pt-4">
                        <div class="w-50 pr-3">
                            <a class="btn btn-secondary btn-block" @click="verViewDireccion">
                                <i class="czi-arrow-left mt-sm-0 mr-1"></i>
                                <span class="d-none d-sm-inline">Regresar a Dirección</span>
                                <span class="d-inline d-sm-none">Regresar</span>
                            </a>
                        </div>
                        <div class="w-50 pl-2">
                            <a class="btn btn-primary btn-block" @click="finalizarCompra">
                                <span class="d-none d-sm-inline">Finalizar Compra</span>
                                <span class="d-inline d-sm-none">Finalizar</span>
                                <i class="czi-arrow-right mt-sm-0 ml-1"></i>
                            </a></div>
                    </div>
                </section>
                <!-- Sidebar-->
                <aside class="col-lg-5 pt-4 pt-lg-0">
                    <div class="cz-sidebar-static rounded-lg box-shadow-lg">
                        <h3 class="text-center mb-4 font-weight-bold"><em>Monto a Pagar</em></h3>
                        <ul class="list-unstyled font-size-sm pb-2 border-bottom">
                            <li class="d-flex justify-content-between align-items-center">
                                <span class="mr-2">Subtotal:</span>
                                <span class="text-right">
                                S/ {{(subtotal).toFixed(2)}}
                            </span>
                            </li>
<!--                            <li class="d-flex justify-content-between align-items-center">-->
<!--                                <span class="mr-2">IGV (18%):</span>-->
<!--                                <span class="text-right">S/ {{ ( subtotal*0.18).toFixed(2)}}</span>-->
<!--                            </li>-->
                            <li class="d-flex justify-content-between align-items-center">
                                <span class="mr-2">Costo de Envío:</span>
                                <span class="text-right">S/ 0.00</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span class="mr-2 text-primary font-weight-medium"><small>*Se llamará al número indicado para establecer un costo de envío</small></span>
                            </li>
                        </ul>
                        <h1 class="font-weight-bold text-center my-4 text-accent" style="font-family: monospace"><em>Total: S/{{subtotal.toFixed(2)}}</em></h1>
                        <div class="border-bottom pb-3">
                            <label for="id-codigo-descuento" class="text-accent font-weight-medium">Si tiene un código de descuento, Ingréselo Aquí</label>
                            <input id="id-codigo-descuento" type="text" v-model="codigoDescuento" class="form-control" placeholder="Ingrese su código Aquí">
                            <div class="text-center">
                                <button class="btn btn-info btn-sm mt-2" @click="aplicarCodigo">Aplicar</button>
                                <button class="btn btn-danger btn-sm mt-2" @click="cancelarCodigo">Cancelar</button>
                            </div>
                        </div>
                        <div v-if="flagCodigoPromocional">
                            <h3 class="font-weight-bold text-center my-4 text-primary mb-0"
                                style="font-family: monospace"><em>Descuento: - S/{{descuento.toFixed(2)}}</em></h3>
                            <h1 class="font-weight-bold text-center my-4 text-accent"
                                style="font-family: monospace"><em>Nuevo Total: S/{{nuevoTotal.toFixed(2)}}</em></h1>
                        </div>
                    </div>
                </aside>
            </div>
            <!-- Navigation (mobile)-->
            <div class="row d-lg-none mb-3">
                <div class="col-lg-8">
                    <div class="d-flex pt-4 mt-3">
                        <div class="w-50 pr-3">
                            <a class="btn btn-secondary btn-block" @click="verViewDireccion">
                                <i class="czi-arrow-left mt-sm-0 mr-1"></i>
                                <span class="d-inline d-sm-none">Regresar</span>
                            </a>
                        </div>
                        <div class="w-50 pl-2">
                            <a class="btn btn-primary btn-block" @click="finalizarCompra">
                                <span class="d-inline d-sm-none">Finalizar Compra</span><i class="czi-arrow-right mt-sm-0 ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div>-->
<!--            <resumen v-if="isViewResumen" @verViewDireccion="verViewDireccion" :carrito="carrito" :user="user" :subtotal="subtotal" :direccionEnvio="direccionEnvio"></resumen>-->
<!--        </div>-->

    </div>
</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        data() {
            return {
                isViewCarrito : true,
                isViewDireccion : false,
                isViewResumen : false,
                carrito : [],
                subtotal : 0,
                codigoDescuento:'',//CODIGO DE DESCUENTO
                descuento : 0,  //MONTO EN SOLES DEL DESCUENTO CON CODIGO PROMOCIONAL
                nuevoTotal : 0, //CODIGO PROMOCIONAL NUEVO TOTAL
                flagCodigoPromocional : false , //SI TIENE CODIGO PROMOCIONA MOSTRAR EL DIV
                user : {} ,
                direccionEnvio : {
                    nombreCompleto : '',
                    email: '',
                    celular: '',
                    departamento : {id : '00', nombre: ''},
                    provincia : {id : '0000', nombre: ''},
                    distrito : {id : '000000', nombre: ''},
                    direccion: '',
                    referencia : ''
                },
                departamentos : [],
                provincias : [],
                distritos : [],
                metodoPago : {
                    comentario : '',
                    idTipoEnvio : 0,
                    nombreTipoEnvio : ''
                },
                ver : true,
                isLoading: false,
                fullPage: true,
                coordinates : {
                    lat : 0 ,
                    lng : 0
                }
            }
        },
        created() {
            console.log("CompraPrincipal component created");
            axios.get('/ubigeo/departamento').then(res => {
                this.departamentos = res.data;
            });

            this.$getLocation({})
                .then( coordinates => {
                    this.coordinates = coordinates;
                }).catch(error => {
                // alert(error);
            });

        },
        mounted() {
            console.log("CompraPrincipal component mounted");
            this.getUserInfo();
            let carrito = JSON.parse(localStorage.getItem("carrito"));
            console.log("carrito", carrito);
            this.carrito = carrito;
            let tot = 0;
            carrito.forEach(producto => {
                tot += producto.subtotal;
            });
            this.subtotal = tot;
            // this.getDepartamentos();
            this.setUbigeoDefault();
            let metodoPago = JSON.parse(localStorage.getItem("metodoPago"));
            if(metodoPago){
                this.metodoPago = metodoPago;
            }

            console.log("MOUNTED COMPRA PRINCIAPL ",metodoPago);
        },
        components: {
            Loading
        },
        methods : {
            getUserInfo(){
                axios.get('/user-info').then(res => {
                    this.user = res.data;
                    this.direccionEnvio.email = this.user.email;
                    this.direccionEnvio.nombreCompleto = this.user.name;
                    console.log("Informacion de Usuario ", res.data);
                });
            } ,
            irDetalle(idProducto) {
                window.location.href = "/producto/"+idProducto;
            },
            irACategoria(idCategoria) {
                window.location.href = `/productos/categoria/${idCategoria}`;
            },
            procesarCompra() {

            } ,
            verViewCarrito() {
                this.isViewCarrito = true;
                this.isViewDireccion = false;
                this.isViewResumen = false;
            } ,
            verViewDireccion() {
                if(this.carrito && this.carrito.length > 0) {
                    //existe al menos un elemento
                    this.isViewCarrito = false;
                    this.isViewDireccion = true;
                    this.isViewResumen = false;
                }else{
                    Swal.fire({
                        icon: 'warning',
                        title: 'Mi Carrito',
                        text: 'No Cuenta con Ningún Producto en su Carrito'
                    });
                }
            } ,
            verViewResumen(){
                //VALIDAR
                if(this.direccionEnvio.nombreCompleto == ''){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Datos de Envío',
                        text: 'Debe ingresar un nombre'
                    });
                    return;
                }
                if(this.direccionEnvio.email == ''){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Datos de Envío',
                        text: 'Debe ingresar un correo electrónico'
                    });
                    return;
                }
                if(this.direccionEnvio.celular == ''){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Datos de Envío',
                        text: 'Debe ingresar un celular'
                    });
                    return;
                }
                if(this.direccionEnvio.departamento.id == '00'){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Datos de Envío',
                        text: 'Debe seleccionar un departamento'
                    });
                    return;
                }
                if(this.direccionEnvio.provincia.id == '0000'){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Datos de Envío',
                        text: 'Debe seleccionar una provincia'
                    });
                    return;
                }
                if(this.direccionEnvio.distrito.id == '000000'){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Datos de Envío',
                        text: 'Debe seleccionar un distrito'
                    });
                    return;
                }
                if(this.direccionEnvio.direccion == ''){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Datos de Envío',
                        text: 'Debe ingresar una dirección'
                    });
                    return;
                }
                if(this.direccionEnvio.referencia == ''){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Datos de Envío',
                        text: 'Debe ingresar una referencia'
                    });
                    return;
                }
                this.isViewCarrito = false;
                this.isViewDireccion = false;
                this.isViewResumen = true;

            },
            redirectUrlCarrito() {
                window.location.href = "/carrito";
            },
            setUbigeoDefault(){
                this.isLoading = true;
                axios.get('/ubigeo/departamento').then(res => {
                    this.departamentos = res.data;
                    this.direccionEnvio.departamento.id = '15';
                    //provincias
                    let departamento = this.departamentos.find(dep => dep.departamento_id === this.direccionEnvio.departamento.id);
                    this.direccionEnvio.departamento.nombre = departamento.nombre;
                    axios.get(`/ubigeo/provincia/${this.direccionEnvio.departamento.id}`).then(res => {
                        this.provincias = res.data; //1501
                        this.direccionEnvio.provincia.id = '1501';//default
                        let idDepartamento = this.direccionEnvio.provincia.id.substring(0,2);
                        let idProvincia = this.direccionEnvio.provincia.id.substring(2,4);
                        let provincia = this.provincias.find(prov => prov.departamento_id === idDepartamento && prov.provincia_id === idProvincia);
                        this.direccionEnvio.provincia.nombre = provincia.nombre;
                        axios.get(`/ubigeo/distrito/${idProvincia}/${idDepartamento}`).then(res => {
                            this.isLoading = false;
                            this.distritos = res.data;//150101
                            this.direccionEnvio.distrito.id = '150101';
                            let idDistrito = this.direccionEnvio.distrito.id.substring(4,6);
                            let distrito = this.distritos.find(dist => dist.departamento_id === idDepartamento && dist.provincia_id === idProvincia && dist.distrito_id === idDistrito);
                            this.direccionEnvio.distrito.nombre = distrito.nombre;
                        });
                    });
                });
            },
            getDepartamentos(){
                axios.get('/ubigeo/departamento').then(res => {
                    this.departamentos = res.data;
                });
            },
            getProvinciaPorDepartamento() {
                this.isLoading = true;
                let idDepartamento = this.direccionEnvio.departamento.id;
                let departamento = this.departamentos.find(dep => dep.departamento_id === idDepartamento);
                this.direccionEnvio.departamento.nombre = departamento.nombre;
                axios.get('/ubigeo/provincia/'+idDepartamento).then(res => {
                    this.isLoading = false;
                    this.provincias = res.data;
                });
            },
            getDistritosPorProvinciayDepartamento() {
                //Separar ambos ID
                this.isLoading = true;
                let idDepartamento = this.direccionEnvio.provincia.id.substring(0,2);
                let idProvincia = this.direccionEnvio.provincia.id.substring(2,4);
                let provincia = this.provincias.find(prov => prov.departamento_id === idDepartamento && prov.provincia_id === idProvincia);
                this.direccionEnvio.provincia.nombre = provincia.nombre;

                axios.get(`/ubigeo/distrito/${idProvincia}/${idDepartamento}`).then(res => {
                    this.isLoading = false;
                    this.distritos = res.data;
                });
            },
            setNombreDistrito(){
                let idDepartamento = this.direccionEnvio.distrito.id.substring(0,2);
                let idProvincia = this.direccionEnvio.distrito.id.substring(2,4);
                let idDistrito = this.direccionEnvio.distrito.id.substring(4,6);
                let distrito = this.distritos.find(dist => dist.departamento_id === idDepartamento && dist.provincia_id === idProvincia && dist.distrito_id === idDistrito);
                this.direccionEnvio.distrito.nombre = distrito.nombre;
            },
            aplicarCodigo(){
                if( this.codigoDescuento === '' ){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Código Promocional',
                        text: `Debe Ingresar Un Código Promocional`
                    });
                } else {
                    this.isLoading = true;
                    axios.get(`/api/codigo-promocional/${this.codigoDescuento}`).then(res => {
                        console.log("Res Codigo", res);
                        this.isLoading = false;
                        //Validar si ha expirado
                        var fechita = new Date(res.data.expiracion);
                        var diferencia = fechita.getTime() - new Date().getTime();
                        if (diferencia > 0){
                            Swal.fire({
                                icon: 'success',
                                title: 'Código Promocional',
                                html: `El código de descuento <span class="text-primary font-weight-bold">${this.codigoDescuento}</span> será aplicado.`
                            }).then((response) => {
                                this.flagCodigoPromocional = true;
                                this.descuento = res.data.monto;  //MONTO EN SOLES DEL DESCUENTO CON CODIGO PROMOCIONA
                                this.nuevoTotal = this.subtotal - this.descuento; //CODIGO PROMOCIONAL NUEVO TOTAL
                            });
                        }else{
                            Swal.fire({
                                icon: 'warning',
                                title: 'Código Promocional',
                                html: `El código <span class="text-primary font-weight-bold">${this.codigoDescuento}</span> ha expirado.`
                            }).then((response) => {
                                this.flagCodigoPromocional = false;
                                this.descuento = 0;  //MONTO EN SOLES DEL DESCUENTO CON CODIGO PROMOCIONA
                                this.nuevoTotal = this.subtotal; //CODIGO PROMOCIONAL NUEVO TOTAL
                            });
                        }

                    }).catch(err => {
                        this.isLoading = false;
                        console.log("Error codigo", err.response);
                        if( err.response.status === 404 ) {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Código Promocional',
                                html: `El código <span class="text-primary font-weight-bold">${this.codigoDescuento}</span> no se encuentra registrado`
                            });
                        }
                    });
                }
            },
            cancelarCodigo(){
                if(this.flagCodigoPromocional){
                    Swal.fire({
                        icon: 'info',
                        title: 'Código Promocional',
                        text: `Se ha cancelado su código promocional`
                    }).then(resul =>{
                        this.flagCodigoPromocional = false;
                        this.descuento = 0;
                        this.nuevoTotal = this.subtotal;
                    })
                }
            },
            finalizarCompra() {
                Swal.fire({
                    title: 'Mi Carrito',
                    text: '¿Desea realizar la compra?, se le enviará un correo con el detalle, y se registrará como un pedido pendiente de atención para TEVENDO.PE',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
                }).then((result) => {
                    console.log("Result :", result);
                    if (result.value) {
                        this.isLoading = true;
                        let detalle = [];
                        this.carrito.forEach(car => {
                            let det = {};
                            det.idProducto= car.id;
                            det.detalle   = car.nombre;
                            det.categoria = car.categoria.nombre;
                            det.cantidad  = car.cantidad == null ? 0 : car.cantidad;
                            det.subtotal  = car.precioRebaja;
                            det.total     = car.subtotal;
                            det.imagen    = car.imagen1;
                            det.estado    = '1';
                            detalle.push(det);
                        });

                        let venta = {
                            recibo : {
                                usuarioId : this.user.id,
                                comentarios : this.metodoPago.comentario == null ? 'Sin Comentarios': this.metodoPago.comentario,
                                tipoenvio : this.metodoPago.idTipoEnvio,//1 pago contraentrega, 2 deposito en cuenta
                                subtotal : this.subtotal.toFixed(2),
                                igv: 0.00,
                                costoenvio : 0,
                                total : this.subtotal.toFixed(2),
                                estado : '1',
                                flagCodigoPromocional : this.flagCodigoPromocional,
                                codigoDescuento : this.codigoDescuento,
                                descuento: this.descuento.toFixed(2),
                                nuevoTotal : this.nuevoTotal.toFixed(2),
                            },
                            detalleRecibo : detalle,
                            envio :{
                                nombreCompleto : this.direccionEnvio.nombreCompleto,
                                email : this.direccionEnvio.email,
                                celular : this.direccionEnvio.celular,
                                departamentoId : this.direccionEnvio.departamento.id,
                                departamento : this.direccionEnvio.departamento.nombre,
                                provinciaId : this.direccionEnvio.provincia.id,
                                provincia : this.direccionEnvio.provincia.nombre,
                                distritoId : this.direccionEnvio.distrito.id,
                                distrito : this.direccionEnvio.distrito.nombre,
                                direccion : this.direccionEnvio.direccion,
                                referencia : this.direccionEnvio.referencia,
                                coordenadas : 'lat 23, long 68'
                            }
                        };
                        console.log("a enviar:", venta);
                        axios.post(`/api/ventas`, venta)
                            .then((result) => {
                                console.info('resultado api/ventas: ', result);
                                this.isLoading = false;
                                if(result.data.code === '0'){
                                        var html = '';
                                    result.data.detalle.forEach(det => {
                                        var fila = `<div class="mb-2"><div class="font-weight-bold">${det.nombre}</div><div class="text-primary font-weight-medium">Uni. a Comprar : ${det.unidadesAComprar}</div><div class="text-info font-weight-medium"> Stock Disponible : ${det.stockActual}</div></div>`;
                                        html = html + fila;
                                    });
                                    Swal.fire({
                                        icon: 'warning',
                                        title : 'Unidades Agotadas :(',
                                        html: html,
                                        showClass: {
                                            popup: 'animate__animated animate__fadeInDown'
                                        },
                                        hideClass: {
                                            popup: 'animate__animated animate__fadeOutUp'
                                        }
                                    })
                                }else if(result.data.code === '1'){
                                    Swal.fire({
                                        icon: 'success',
                                        title : '¡Compra Realizada!',
                                        html: `Gracias por su Compra, Se le ha enviado un mensaje a <span class="text-info font-weight-bold">${venta.envio.email}</span> con el detalle del Pedido`,
                                        showClass: {
                                            popup: 'animate__animated animate__fadeInDown'
                                        },
                                        hideClass: {
                                            popup: 'animate__animated animate__fadeOutUp'
                                        }
                                    }).then((result) => {
                                        this.carrito = [];
                                        localStorage.setItem("carrito", JSON.stringify(this.carrito));
                                        // this.total = 0;
                                        // showAllCarritos();
                                        window.location.href = "/mis-pedidos";
                                    });
                                }
                            }).catch((e) => {
                                    console.log("CATCH : ", e.response);
                                    this.isLoading = false;
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Compras',
                                        text: e.response.data.detalle
                                    });
                            });
                    }
                });
            }
            ,
            onCancel() {
                console.log('User cancelled the loader.')
            },
            abrirMapa(){
                window.location = 'comgooglemaps://?center=40.765819,-73.975866&zoom=14&views=traffic'
            }
        }
    }
</script>
