<template>
    <div class="container pb-0 pb-sm-2 mb-0 mb-md-4">
        <div class="row">
            <section class="col-lg-8">
                <!-- Steps-->
                <div class="steps steps-light pt-2 pb-1 pb-sm-3">
                    <a class="step-item active current" @click="redirectUrlCarrito">
                        <div class="step-progress back-white">
                            <span class="step-count txt-red-back-white">1</span>
                        </div>
                        <div class="step-label"><i class="czi-cart"></i>Carrito</div>
                    </a>
                    <a class="step-item active current">
                        <div class="step-progress back-white">
                            <span class="step-count txt-red-back-white">2</span>
                        </div>
                        <div class="step-label"><i class="czi-card"></i>Dirección de Envío</div>
                    </a>
                    <a class="step-item cursormano" @click="verViewResumen">
                        <div class="step-progress" style="background-color: #ff888594"><span class="step-count" style="background-color: #ff888594">3</span></div>
                        <div class="step-label"><i class="czi-card"></i>Resumen</div>
                    </a>
                </div>
                <!-- Autor info-->
                <div class="d-sm-flex justify-content-between align-items-center bg-secondary p-2 rounded-lg mb-grid-gutter">
                    <div class="media align-items-center">
                        <div class="img-thumbnail rounded-circle position-relative" style="width: 6.375rem;">
                            <img class="rounded-circle" src="img/shop/account/avatar.jpg" alt="Susan Gardner">
                        </div>
                        <div class="media-body pl-3">
                            <h3 class="font-size-base mb-0 text-capitalize">{{ user.name}}</h3>
                            <span class="text-accent font-size-sm">{{ user.email}}</span>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-sm btn-shadow mt-3 mt-sm-0" href="#"><i class="czi-edit mr-2"></i>Editar Perfil</a>
                </div>
                <!-- Shipping address-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="checkout-fn">Nombres</label>
                            <input class="form-control text-capitalize" type="text" id="checkout-fn" v-model="direccionEnvio.nombreCompleto">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="checkout-email">Correo Electrónico</label>
                            <input class="form-control" type="email" id="checkout-email" v-model="direccionEnvio.email">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="checkout-phone">Celular</label>
                            <input class="form-control" type="text" id="checkout-phone" v-model="direccionEnvio.celular">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="checkout-city">Departamento</label>
                            <select class="form-control custom-select" id="checkout-city" v-model="direccionEnvio.departamento.id"
                                    @change="getProvinciaPorDepartamento">
                                <option value="00">- Seleccione -</option>
                                <option v-for="(dep, index) in departamentos" :key="index" :value=dep.departamento_id>{{dep.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="checkout-country">Provincia</label>
                            <select class="form-control custom-select" id="checkout-country" v-model="direccionEnvio.provincia.id"
                                    @change="getDistritosPorProvinciayDepartamento">
                                <option value="0000">- Seleccione -</option>
                                <option v-for="(prov, index) in provincias" :key="index" :value="prov.departamento_id + prov.provincia_id">
                                    {{prov.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="checkout-country">Distrito</label>
                            <select class="form-control custom-select" v-model="direccionEnvio.distrito.id"  @change="setNombreDistrito">
                                <option value="000000">- Seleccione -</option>
                                <option v-for="(dist, index) in distritos"
                                        :key="index" :value="dist.departamento_id + dist.provincia_id + dist.distrito_id">{{dist.nombre}}</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="checkout-address-1">Dirección</label>
                            <input class="form-control" type="text" id="checkout-address-1" v-model="direccionEnvio.direccion">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="checkout-address-2">Referencia</label>
                            <input class="form-control" type="text" id="checkout-address-2" v-model="direccionEnvio.referencia">
                        </div>
                    </div>
                </div>
                <!-- Navigation (desktop)-->
                <div class="d-none d-lg-flex pt-4 mt-3">
                    <div class="w-50 pr-3">
                        <a class="btn btn-secondary btn-block" @click="redirectUrlCarrito">
                            <i class="czi-arrow-left mt-sm-0 mr-1"></i>
                            <span class="d-none d-sm-inline">Regresar al Carrito</span>
                            <span class="d-inline d-sm-none">Atrás</span>
                        </a>
                    </div>
                    <div class="w-50 pl-2">
                        <a class="btn btn-primary btn-block" @click="verViewResumen">
                            <span class="d-none d-sm-inline">Ver Resumen</span>
                            <span class="d-inline d-sm-none">Siguiente</span>
                            <i class="czi-arrow-right mt-sm-0 ml-1"></i>
                        </a>
                    </div>
                </div>
            </section>
            <!-- Sidebar-->
            <aside class="col-lg-4 pt-4 pt-lg-0">
                <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
                    <div class="widget mb-3">
                        <h4 class="text-center mb-4 text-primary font-weight-bold">Mi Carrito</h4>
                        <div class="media align-items-center pb-2 border-bottom" v-for="(pro, index) in carrito" :key="index">
                            <a class="d-block mr-2" href="">
                                <img width="64" :src=pro.imagen alt="Product"/>
                            </a>
                            <div class="media-body">
                                <h6 class="widget-product-title">
                                    <a href="shop-single-v1.html">{{pro.nombre}}</a>
                                </h6>
                                <div class="widget-product-meta">
                                    <span class="text-accent mr-2">
                                    S/. {{ pro.precioRebaja.toFixed(2).toString().split('.')[0]}}.<small>{{ pro.precioRebaja.toFixed(2).toString().split('.')[1]}}</small>
                                    </span>
                                    <span class="text-muted">x {{pro.cantidad}}</span></div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-unstyled font-size-sm pb-2 border-bottom">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="mr-2">Subtotal:</span>
                            <span class="text-right">
                                S/. {{ subtotal.toFixed(2).toString().split('.')[0]}}.<small>{{ subtotal.toFixed(2).toString().split('.')[1]}}</small>
                            </span>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between ">
                        <small class="text-left text-accent">*En Vendedor se comunicará con usted para coordinar el precio del envío</small>
                    </div>
                    <h3 class="font-weight-normal text-center my-4 text-primary">
                        S/. {{ subtotal.toFixed(2).toString().split('.')[0]}}.<small>{{ subtotal.toFixed(2).toString().split('.')[1]}}</small>
                    </h3>
                </div>
            </aside>
        </div>
        <!-- Navigation (mobile)-->
        <div class="row d-lg-none">
            <div class="col-lg-8">
                <div class="d-flex pt-4 mt-3">
                    <div class="w-50 pr-3">
                        <a class="btn btn-secondary btn-block" @click="redirectUrlCarrito">
                        <i class="czi-arrow-left mt-sm-0 mr-1"></i>
                            <span class="d-none d-sm-inline">Regresar al Carrito</span>
                            <span class="d-inline d-sm-none">Atrás</span>
                        </a>
                    </div>
                    <div class="w-50 pl-2">
                        <a class="btn btn-primary btn-block" @click="verViewResumen">
                            <span class="d-none d-sm-inline">Ver Resumen</span>
                            <span class="d-inline d-sm-none">Siguiente</span>
                            <i class="czi-arrow-right mt-sm-0 ml-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
    export default {
        props: ['carrito','user','subtotal','direccionEnvio','departamentos','provincias','distritos'],
        data() {
            return {
            }
        },
        created() {
            console.log("Direccion Component created");
        },
        mounted() {
            console.log("Direccion Component mounted");
        },
        methods : {
            verViewResumen() {
                this.$emit("verViewResumen");
            },

            redirectUrlCarrito() {
                window.location.href = "/carrito";
            },
            // getDepartamentos(){
            //     axios.get('/ubigeo/departamento').then(res => {
            //         // /this.departamentos = res.data;
            //         this.$emit(onLoadDepartamentos,res.data);
            //     });
            // },
            getProvinciaPorDepartamento() {
                let idDepartamento = this.direccionEnvio.departamento.id;
                let departamento = this.departamentos.find(dep => dep.departamento_id === idDepartamento);
                this.direccionEnvio.departamento.nombre = departamento.nombre;
                axios.get('/ubigeo/provincia/'+idDepartamento).then(res => {
                    this.provincias = res.data;
                });
            },
            getDistritosPorProvinciayDepartamento() {
                //Separar ambos ID
                let idDepartamento = this.direccionEnvio.provincia.id.substring(0,2);
                let idProvincia = this.direccionEnvio.provincia.id.substring(2,4);
                let provincia = this.provincias.find(prov => prov.departamento_id === idDepartamento && prov.provincia_id === idProvincia);
                this.direccionEnvio.provincia.nombre = provincia.nombre;

                axios.get(`/ubigeo/distrito/${idProvincia}/${idDepartamento}`).then(res => {
                    this.distritos = res.data;
                });
            },
            setNombreDistrito(){
                let idDepartamento = this.direccionEnvio.distrito.id.substring(0,2);
                let idProvincia = this.direccionEnvio.distrito.id.substring(2,4);
                let idDistrito = this.direccionEnvio.distrito.id.substring(4,6);
                let distrito = this.distritos.find(dist => dist.departamento_id === idDepartamento && dist.provincia_id === idProvincia && dist.distrito_id === idDistrito);
                this.direccionEnvio.distrito.nombre = distrito.nombre;
            },
            redirectUrlCarrito() {
                window.location.href = "/carrito";
            },
            finalizarCompra() {
                let detalle = [];
                this.carrito.forEach(car => {
                    let det = {};
                    det.detalle   = car.nombre;
                    det.categoria = car.categoria.nombre;
                    det.cantidad  = car.cantidad;
                    det.subtotal  = car.precioRebaja;
                    det.total     = car.subtotal;
                    det.imagen    = car.imagen;
                    det.estado    = '1';
                    detalle.push(det);
                });

                let venta = {
                    recibo : {
                        usuarioId : this.user.id,
                        comentarios : this.metodoPago.comentario,
                        envio : this.metodoPago.tipoEnvio.id,//1 pago contraentrega, 2 deposito en cuenta
                        subtotal : (0.82 * this.subtotal).toFixed(2),
                        igv: (0.18 * this.subtotal).toFixed(2),
                        costoenvio : 0,
                        total : this.subtotal.toFixed(2),
                        estado : '1'
                    },
                    detalleRecibo : detalle,
                    envio :{
                        nombreCompleto : this.direccionEnvio.nombreCompleto,
                        email : this.direccionEnvio.email,
                        celular : this.direccionEnvio.celular,
                        departamentoId : this.direccionEnvio.departamento.id,
                        departamentoNombre : this.direccionEnvio.departamento.nombre,
                        provinciaId : this.direccionEnvio.provincia.id,
                        provinciaNombre : this.direccionEnvio.provincia.nombre,
                        distritoId : this.direccionEnvio.distrito.id,
                        distritoNombre : this.direccionEnvio.distrito.nombre,
                        direccion : this.direccionEnvio.direccion,
                        referencia : this.direccionEnvio.referencia,
                        coordenadas : 'lat 23, long 68'
                    }
                };
                console.log("a enviar:", venta);
                axios.post(`/api/ventas`, venta)
                    .then((result) => {
                        console.info('THEN: ', result)
                    }).catch((e) => {
                    console.log("CATCH : ", e.response);
                });
            },
            finalizarCompra() {
                let detalle = [];
                this.carrito.forEach(car => {
                    let det = {};
                    det.detalle   = car.nombre;
                    det.categoria = car.categoria.nombre;
                    det.cantidad  = car.cantidad;
                    det.subtotal  = car.precioRebaja;
                    det.total     = car.subtotal;
                    det.imagen    = car.imagen;
                    det.estado    = '1';
                    detalle.push(det);
                });
                let venta = {
                    recibo : {
                        usuarioId : this.user.id,
                        comentarios : this.metodoPago.comentario,
                        envio : this.metodoPago.tipoEnvio.id,//1 pago contraentrega, 2 deposito en cuenta
                        subtotal : (0.82 * this.subtotal).toFixed(2),
                        igv: (0.18 * this.subtotal).toFixed(2),
                        costoenvio : 0,
                        total : this.subtotal.toFixed(2),
                        estado : '1'
                    },
                    detalleRecibo : detalle,
                    envio :{
                        nombreCompleto : this.direccionEnvio.nombreCompleto,
                        email : this.direccionEnvio.email,
                        celular : this.direccionEnvio.celular,
                        departamentoId : this.direccionEnvio.departamento.id,
                        departamentoNombre : this.direccionEnvio.departamento.nombre,
                        provinciaId : this.direccionEnvio.provincia.id,
                        provinciaNombre : this.direccionEnvio.provincia.nombre,
                        distritoId : this.direccionEnvio.distrito.id,
                        distritoNombre : this.direccionEnvio.distrito.nombre,
                        direccion : this.direccionEnvio.direccion,
                        referencia : this.direccionEnvio.referencia,
                        coordenadas : 'lat 23, long 68'
                    }
                };
                console.log("a enviar:", venta);
                axios.post(`/api/ventas`, venta)
                    .then((result) => {
                        console.info('THEN: ', result)
                    }).catch((e) => {
                    console.log("CATCH : ", e.response);
                });
            }

        }
    }
</script>
