<template>
    <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
            <section class="col-lg-8">
                <!-- Steps-->
                <div class="steps steps-light pt-2 pb-2 pb-sm-3">
                    <a class="step-item active current" @click="redirectUrlCarrito">
                        <div class="step-progress back-white">
                            <span class="step-count txt-red-back-white">1</span>
                        </div>
                        <div class="step-label"><i class="czi-cart"></i>Carrito</div>
                    </a>
                    <a class="step-item active current">
                        <div class="step-progress back-white">
                            <span class="step-count txt-red-back-white">2</span>
                        </div>
                        <div class="step-label"><i class="czi-card"></i>Dirección de Envío</div>
                    </a>
                    <a class="step-item active current" @click="verViewResumen">
                        <div class="step-progress back-white">
                            <span class="step-count txt-red-back-white">3</span>
                        </div>
                        <div class="step-label"><i class="czi-card"></i>Resumen</div>
                    </a>
                </div>
                <!-- Order details-->
                <!-- Item-->
                <div class="row mt-3">
                    <div class="col-sm-6" v-for="(pro, index) in carrito" :key="index">
                        <div class="row">
                            <div class="col-3 media media-ie-fix d-block d-sm-flex text-center text-sm-left">
                                <a class="d-inline-block mx-auto mr-sm-4" href="#" style="width: 10rem;">
                                    <img :src=pro.imagen alt="Producto">
                                </a>
                            </div>

                            <div class="col-9 pt-2 pt-sm-2 pl-sm-3 mx-auto mx-sm-0 text-sm-right" style="max-width: 9rem;">
                                <div class="media-body pt-2">
                                    <h3 class="product-title font-size-base mb-2"><a
                                        href="shop-single-v1.html">{{pro.nombre}}</a>
                                    </h3>
                                    <div class="font-size-sm">{{pro.categoria.nombre}}</div>
                                    <div class="font-size-lg text-accent pt-2">
                                        S/. {{ pro.precioRebaja.toFixed(2).toString().split('.')[0]}}.<small>{{pro.precioRebaja.toFixed(2).toString().split('.')[1]}}</small>
                                    </div>
                                </div>

                                <p class="mb-0"><span class="text-muted font-size-sm">Uni:</span><span>&nbsp;{{pro.cantidad}}</span>
                                </p>
                            </div>
                        </div>


                    </div>
                </div>

<!--                <div class="d-sm-flex justify-content-between my-0 pb-1 border-bottom" v-for="(pro, index) in carrito" :key="index">-->
<!--                    <div class="media media-ie-fix d-block d-sm-flex text-center text-sm-left">-->
<!--                        <a class="d-inline-block mx-auto mr-sm-4" href="#" style="width: 10rem;">-->
<!--                            <img :src=pro.imagen alt="Producto">-->
<!--                        </a>-->
<!--                        <div class="media-body pt-2">-->
<!--                            <h3 class="product-title font-size-base mb-2"><a-->
<!--                                href="shop-single-v1.html">{{pro.nombre}}</a>-->
<!--                            </h3>-->
<!--                            <div class="font-size-sm"><span class="text-muted mr-2">Categoria:</span>{{pro.categoria.nombre}}</div>-->
<!--                            <div class="font-size-lg text-accent pt-2">-->
<!--                                S/. {{ pro.precioRebaja.toFixed(2).toString().split('.')[0]}}.<small>{{pro.precioRebaja.toFixed(2).toString().split('.')[1]}}</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="pt-2 pt-sm-2 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-right" style="max-width: 9rem;">-->
<!--                        <p class="mb-0"><span class="text-muted font-size-sm">Cantidad:</span><span>&nbsp;{{pro.cantidad}}</span>-->
<!--                        </p>-->
<!--                        <button class="btn btn-link px-0" type="button">-->
<!--                            <i class="czi-edit mr-2"></i>-->
<!--                            <span class="font-size-sm">Editar</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->

                <!-- Client details-->
                <div class="bg-secondary rounded-lg px-4 pt-4 pb-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="h6">Vendido a:</h4>
                            <ul class="list-unstyled font-size-sm">
                                <li class="text-capitalize"><span class="text-muted ">Cliente&nbsp;</span>{{direccionEnvio.nombreCompleto.toUpperCase()}}</li>
                                <li class="text-capitalize"><span class="text-muted">Dirección:&nbsp;</span>{{direccionEnvio.direccion}}</li>
                                <li class="text-capitalize"><span class="text-muted">Departamento:&nbsp;</span>{{direccionEnvio.departamento.nombre}}</li>
                                <li class="text-capitalize"><span class="text-muted">Provincia:&nbsp;</span>{{direccionEnvio.provincia.nombre}}</li>
                                <li class="text-capitalize"><span class="text-muted">Distrito:&nbsp;</span>{{direccionEnvio.distrito.nombre}}</li>
                                <li class="text-capitalize"><span class="text-muted">Ubigeo:&nbsp;</span>{{direccionEnvio.distrito.id}}</li>
                                <li class="text-capitalize"><span class="text-muted">Referencia:&nbsp;</span>{{direccionEnvio.referencia}}</li>
                                <li><span class="text-muted">Celular:&nbsp;</span>{{direccionEnvio.celular}}</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="h6">Método de Pago:</h4>
                            <ul class="list-unstyled font-size-sm">
                                <li><span class="text-muted">Comentarios:&nbsp;</span>{{metodoPago.comentario}}</li>
                                <hr>
                                <li class="text-primary mt-3">
                                    <span class="text-muted">Tipo Envío:&nbsp;</span>
                                    <span class="font-weight-bold">{{metodoPago.tipoEnvio.nombre}}</span>
                                </li>
                                <li v-if="metodoPago.tipoEnvio.id == 2">
                                    <span class="text-muted">BBVA:&nbsp;</span>
                                    <span v-if="ver" class="font-weight-bold font-size-lg">**** **** **** 5300</span>
                                    <span v-else class="font-weight-bold font-size-lg">1234 1918 2456 5300</span>
                                    <button style="padding: 0px 6px" class="btn btn-sm btn-primary" @click="ver=!ver">
                                        <i class="czi-eye password-toggle-indicator"></i>
                                        <span v-if="ver">Ver</span>
                                        <span v-else>Ocultar</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Navigation (desktop)-->
                <div class="d-none d-lg-flex pt-4">
                    <div class="w-50 pr-3">
                        <a class="btn btn-secondary btn-block" @click="verViewDireccion">
                            <i class="czi-arrow-left mt-sm-0 mr-1"></i>
                            <span class="d-none d-sm-inline">Regresar a Direccion</span>
                            <span class="d-inline d-sm-none">Regresar</span>
                        </a>
                    </div>
                    <div class="w-50 pl-2">
                        <a class="btn btn-primary btn-block" @click="finalizarCompra">
                            <span class="d-none d-sm-inline">Finalizar Compra</span>
                            <span class="d-inline d-sm-none">Finalizar</span>
                            <i class="czi-arrow-right mt-sm-0 ml-1"></i>
                        </a></div>
                </div>
            </section>
            <!-- Sidebar-->
            <aside class="col-lg-4 pt-4 pt-lg-0">
                <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
                    <h4 class="text-center mb-4 text-primary font-weight-bold">Monto a Pagar</h4>
                    <ul class="list-unstyled font-size-sm pb-2 border-bottom">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="mr-2">Subtotal:</span>
                            <span class="text-right">
                                S/. {{(subtotal*0.82).toFixed(2).toString().split('.')[0]}}.<small>{{(subtotal*0.82).toFixed(2).toString().split('.')[1]}}</small>
                            </span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="mr-2">IGV (18%) :</span>
                            <span class="text-right">S/. {{(subtotal*0.18).toFixed(2).toString().split('.')[0]}}.<small>{{(subtotal*0.18).toFixed(2).toString().split('.')[1]}}</small></span>
                        </li>
                    </ul>
                    <h3 class="font-weight-normal text-center my-4">S/. {{subtotal.toFixed(2).toString().split('.')[0]}}.<small>{{subtotal.toFixed(2).toString().split('.')[1]}}</small></h3>
                </div>
            </aside>
        </div>
        <!-- Navigation (mobile)-->
        <div class="row d-lg-none">
            <div class="col-lg-8">
                <div class="d-flex pt-4 mt-3">
                    <div class="w-50 pr-3">
                        <a class="btn btn-secondary btn-block" href="#">
                            <i class="czi-arrow-left mt-sm-0 mr-1"></i>
                            <span class="d-none d-sm-inline">Regresar a Dirección</span>
                            <span class="d-inline d-sm-none">Regresar</span>
                        </a>
                    </div>
                    <div class="w-50 pl-2">
                        <a class="btn btn-primary btn-block" href="#">
                            <span class="d-none d-sm-inline">Terminar Pago</span>
                            <span class="d-inline d-sm-none">Terminar</span><i class="czi-arrow-right mt-sm-0 ml-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['carrito', 'user', 'subtotal', 'direccionEnvio'],
        data() {
            return {
                metodoPago : {
                    comentario : '',
                    tipoEnvio : {
                        id : 0,
                        nombre : ''
                    }
                },
                ver : true
            }
        },
        created() {
            console.log("Resumen Component created");
        },
        mounted() {
            console.log("Resumen Component mounted");
            let metodoPago = JSON.parse(localStorage.getItem("metodoPago"));
            this.metodoPago = metodoPago;
        },
        methods: {
            verViewDireccion() {
                this.$emit("verViewDireccion");
            },
            redirectUrlCarrito() {
                window.location.href = "/carrito";
            },
            finalizarCompra() {
                let detalle = [];
                this.carrito.forEach(car => {
                     let det = {};
                     det.detalle   = car.nombre;
                     det.categoria = car.categoria.nombre;
                     det.cantidad  = car.cantidad;
                     det.subtotal  = car.precioRebaja;
                     det.total     = car.subtotal;
                     det.imagen    = car.imagen;
                     det.estado    = '1';
                     detalle.push(det);
                });

                let venta = {
                    recibo : {
                        usuarioId : this.user.id,
                        comentarios : this.metodoPago.comentario,
                        envio : this.metodoPago.tipoEnvio.id,//1 pago contraentrega, 2 deposito en cuenta
                        subtotal : (0.82 * this.subtotal).toFixed(2),
                        igv: (0.18 * this.subtotal).toFixed(2),
                        costoenvio : 0,
                        total : this.subtotal.toFixed(2),
                        estado : '1'
                    },
                    detalleRecibo : detalle,
                    envio :{
                        nombreCompleto : this.direccionEnvio.nombreCompleto,
                        email : this.direccionEnvio.email,
                        celular : this.direccionEnvio.celular,
                        departamentoId : this.direccionEnvio.departamento.id,
                        departamentoNombre : this.direccionEnvio.departamento.nombre,
                        provinciaId : this.direccionEnvio.provincia.id,
                        provinciaNombre : this.direccionEnvio.provincia.nombre,
                        distritoId : this.direccionEnvio.distrito.id,
                        distritoNombre : this.direccionEnvio.distrito.nombre,
                        direccion : this.direccionEnvio.direccion,
                        referencia : this.direccionEnvio.referencia,
                        coordenadas : 'lat 23, long 68'
                    }
                };
                console.log("a enviar:", venta);
                axios.post(`/api/ventas`, venta)
                    .then((result) => {
                        console.info('THEN: ', result)
                    }).catch((e) => {
                        console.log("CATCH : ", e.response);
                    });
            }
        }
    }
</script>
