<template>
    <div class="card border-0 box-shadow">
        <div class="card-body p-0">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="result4" role="tabpanel">
                    <div class="cz-carousel cz-controls-static cz-controls-outside">
                        <div class="cz-carousel-inner"
                             data-carousel-options="{
                        &quot;items&quot;: 3,
                        &quot;autoplay&quot;: true,
                        &quot;autoplayTimeout&quot;: 3000,
                        &quot;speed&quot;: 2000,
                        &quot;nav&quot;: false,
                        &quot;responsive&quot;:
                        {&quot;0&quot;:{&quot;items&quot;:2},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;gutter&quot;: 24}}}">
<!--                            <span v-for="(cat, index) in categorias" :key="index">-->
<!--                                <img :src=cat.imagen alt="Image">-->
<!--                            </span>-->
                            <img v-for="cat in categorias" :src=cat.imagen alt="producto not found">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="html4" role="tabpanel">
                </div>
            </div>
        </div>
    </div>
</template>

<style>


</style>

<script>
    import { Carousel, Slide } from 'vue-carousel';
    export default {
        data() {
            return {
                categorias: [],
                current_page : 0,
                total : 0,
                per_page: 12,
                last_page: 3,
                first_page_url: "",
                last_page_url: "",
                next_page_url: "",
                prev_page_url: "",
                path: "",
                isView : true,
                cantidad_por_pagina:1
            }
        },

        created() {

        },
        mounted() {
            console.log("Mounted component productos!");
            this.getCategorias();
        },
        methods: {
            getCategorias() {
                this.isView = false;
                axios.get('/listado-categorias').then(res => {
                    console.log("RESSSS", res.data);
                    this.categorias = res.data;
                });
            },
            irProductosPorCategoria(idCategoria){
                window.location.href = "/productos/categoria/"+idCategoria;
            }
        },
        components: {
            Carousel,
            Slide
        }
    }
</script>

