<template>

    <div  id="app">
        <!-- Sign in / sign up modal-->
        <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#signin-tab" data-toggle="tab" role="tab"
                                                    aria-selected="true"><i class="czi-unlocked mr-2 mt-n1"></i>Iniciar
                                Sesion</a></li>
                            <li class="nav-item"><a class="nav-link" href="#signup-tab" data-toggle="tab" role="tab"
                                                    aria-selected="false"><i class="czi-user mr-2 mt-n1"></i>Cerrar Sesion</a>
                            </li>
                        </ul>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body tab-content py-4">
                        <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab">
                            <div class="form-group">
                                <label for="si-email">Email address</label>
                                <input class="form-control" type="email" id="si-email" placeholder="johndoe@example.com"
                                       required>
                                <div class="invalid-feedback">Please provide a valid email address.</div>
                            </div>
                            <div class="form-group">
                                <label for="si-password">Password</label>
                                <div class="password-toggle">
                                    <input class="form-control" type="password" id="si-password" required>
                                    <label class="password-toggle-btn">
                                        <input class="custom-control-input" type="checkbox"><i
                                        class="czi-eye password-toggle-indicator"></i><span
                                        class="sr-only">Show password</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between">
                                <div class="custom-control custom-checkbox mb-2">
                                    <input class="custom-control-input" type="checkbox" id="si-remember">
                                    <label class="custom-control-label" for="si-remember">Remember me</label>
                                </div>
                                <a class="font-size-sm" href="#">Forgot password?</a>
                            </div>
                            <button class="btn btn-primary btn-block btn-shadow" type="submit">Sign in</button>
                        </form>
                        <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
                            <div class="form-group">
                                <label for="su-name">Full name</label>
                                <input class="form-control" type="text" id="su-name" placeholder="John Doe" required>
                                <div class="invalid-feedback">Please fill in your name.</div>
                            </div>
                            <div class="form-group">
                                <label for="su-email">Email address</label>
                                <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com"
                                       required>
                                <div class="invalid-feedback">Please provide a valid email address.</div>
                            </div>
                            <div class="form-group">
                                <label for="su-password">Password</label>
                                <div class="password-toggle">
                                    <input class="form-control" type="password" id="su-password" required>
                                    <label class="password-toggle-btn">
                                        <input class="custom-control-input" type="checkbox"><i
                                        class="czi-eye password-toggle-indicator"></i><span
                                        class="sr-only">Show password</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="su-password-confirm">Confirm password</label>
                                <div class="password-toggle">
                                    <input class="form-control" type="password" id="su-password-confirm" required>
                                    <label class="password-toggle-btn">
                                        <input class="custom-control-input" type="checkbox"><i
                                        class="czi-eye password-toggle-indicator"></i><span
                                        class="sr-only">Show password</span>
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-shadow" type="submit">Sign up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <header class="box-shadow-sm">
            <div class="topbar" style="background-color: black">
                <div class="container">
                    <div class="topbar-text dropdown d-md-none">
                        <a class="topbar-link dropdown-toggle" href="#" data-toggle="dropdown">Contacto</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="tel:984637461">
                                    <i class="czi-support text-muted mr-2"></i>984637461
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="order-tracking.html">
                                    <i class="czi-location text-muted mr-2">Mis Pedidos</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topbar-text d-none d-md-inline-block">
                        <img style="width: 20px; border-radius: 5px" src="./iconos/whastapp.png">
                        <span class="mr-1" style="color: white">Whastapp <a style="color: #f15682" class="" href="tel:984637461">984637461</a></span>
                    </div>
                </div>
            </div>

            <div class="navbar-sticky bg-light">
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <a class="navbar-brand d-none d-sm-block mr-3 flex-shrink-0" href="index.html" style="min-width: 7rem;">
                            <img width="142" src="img/logo-dark.png" alt="Cartzilla"/>
                        </a>
                        <a class="navbar-brand d-sm-none mr-2" href="index.html" style="min-width: 4.625rem;">
                            <img width="74" src="img/logo-icon.png" alt="Cartzilla"/>
                        </a>
                        <div class="input-group-overlay d-none d-lg-flex mx-4">
                            <form action="#" style="width: 100%">
                                <input class="form-control appended-form-control" name="q" type="text" placeholder="Buscar en Productos">
                                <div class="input-group-append-overlay">
                        <span class="input-group-text">
                            <i class="czi-search"></i>
                        </span>
                                </div>
                            </form>
                        </div>
                        <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="navbar-tool navbar-stuck-toggler" href="#">
                                <span class="navbar-tool-tooltip">Expandir Menú</span>
                                <div class="navbar-tool-icon-box">
                                    <i class="navbar-tool-icon czi-menu"></i>
                                </div>
                            </a>
                            <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" href="#signin-modal" data-toggle="modal">
                                <div class="navbar-tool-icon-box">
                                    <i class="navbar-tool-icon czi-user"></i>
                                </div>
                                <div class="ml-n3">
                                    <small> <a style="color: #636b6f" href="/login">Iniciar Sesión</a></small>
                                </div>
                            </a>
                            <div class="navbar-tool dropdown ml-3">
                                <a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="shop-cart.html">
                                    <span class="navbar-tool-label bg-danger">5</span>
                                    <i class="navbar-tool-icon czi-cart"></i>
                                </a>
                                <a class="navbar-tool-text" href="/carrito">
                                    <small>Mi Carrito</small>S/. <span>0.50</span>
                                </a>
                                <!-- Cart dropdown-->
                                <div class="dropdown-menu dropdown-menu-right" style="width: 20rem;">
                                    <div class="widget widget-cart px-3 pt-2 pb-3">

                                        <carrito-flotante></carrito-flotante>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
                    <div class="container">
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <!-- Search-->
                            <div class="input-group-overlay d-lg-none my-3">
                                <div class="input-group-prepend-overlay">
                            <span class="input-group-text">
                                <i class="czi-search"></i>
                            </span>
                                </div>
                                <input class="form-control prepended-form-control" type="text" placeholder="Search for products">
                            </div>
                            <!-- Departments menu-->
                            <ul class="navbar-nav mega-nav pr-lg-2 mr-lg-2">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle pl-0" href="#"
                                       data-toggle="dropdown"><i class="czi-view-grid mr-2"></i>Categorías</a>
                                    <div class="dropdown-menu px-2 pl-0 pb-4">
                                        <div class="d-flex flex-wrap flex-md-nowrap">
                                            <div class="mega-dropdown-column pt-4 px-3">
                                                <div class="widget widget-links">
                                                    <ul class="widget-list">
                                                        <li class="widget-list-item" v-for="(cate, index) in categorias" :key="index">
                                                            <a class="widget-list-link" href="/productos/categoria/ {{ cate.id }}">{{cate.nombre}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <ul class="navbar-nav">
                                <li class="nav-item dropdown active">
                                    <a class="nav-link" href="/">Principal</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Tienda</a>
                                    <div class="dropdown-menu p-0">
                                        <div class="d-flex flex-wrap flex-md-nowrap px-2">
                                            <div class="mega-dropdown-column py-4 px-3">
                                                <div class="widget widget-links mb-3">
                                                    <h6 class="font-size-base mb-3">Productos</h6>
                                                    <ul class="widget-list">
                                                        <li class="widget-list-item pb-1">
                                                            <a class="widget-list-link" href="shop-grid-ls.html">Los más Vendidos</a>
                                                        </li>
                                                        <li class="widget-list-item pb-1">
                                                            <a class="widget-list-link" href="shop-grid-ls.html">Categorías Destacadas</a>
                                                        </li>
                                                        <li class="widget-list-item pb-1">
                                                            <a class="widget-list-link" href="/productos">Todos los Productos</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Mi Cuenta</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Mi Pedido Actual</a></li>
                                        <li><a class="dropdown-item" href="#">Mi Historial</a></li>
                                        <li><a class="dropdown-item" href="#">Mi Información Personal</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" onclick="event.preventDefault();document.getElementById('logout-formulario').submit();">
                                        Cerrar Sesión
                                    </a>
                                    <form id="logout-formulario" action="/logout" method="POST" style="display:none;">

                                    </form>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="n2-section-smartslider fitvidsignore  n2_clear" role="region" aria-label="Slider">
            <div id="n2-ss-2-align" class="n2-ss-align">
                <div class="n2-padding">
                <div id="n2-ss-2" data-creator="Smart Slider 3" class="n2-ss-slider n2-ow n2-has-hover n2notransition  n2-ss-load-fade " style="font-size: 1rem;" data-fontsize="16">
                <div class="n2-ss-slider-1 n2_ss__touch_element n2-ow" style="">
                    <div class="n2-ss-slider-2 n2-ow" style="">
                        <div class="n2-ss-slider-3 n2-ow" style="">

                            <div class="n2-ss-slide-backgrounds"></div><div data-first="1" data-slide-duration="0" data-id="4" style="" class=" n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-4"><div class="n2-ss-slide-background n2-ow" data-mode="fill"><div data-hash="4f8dcc14c3be5d93ae79849fa5fe3021" data-desktop="smartslider/images/slider-1-pag-inicio-1920x960px.jpeg" class="n2-ss-slide-background-image" data-blur="0" data-alt="" data-title=""></div></div><div class="n2-ss-layers-container n2-ow"><div class="n2-ss-layer n2-ow" style="padding:10px 10px 10px 10px;" data-desktopportraitpadding="10|*|10|*|10|*|10" data-sstype="slide" data-csstextalign="center" data-pm="default"><div class="n2-ss-layer n2-ow n-uc-1fd640819ff6d" style="overflow:visible;" data-csstextalign="inherit" data-has-maxwidth="0" data-desktopportraitmaxwidth="0" data-cssselfalign="center" data-desktopportraitselfalign="center" data-pm="default" data-desktopportraitverticalalign="center" data-desktopportraitpadding="400|*|10|*|10|*|10|*|px+" data-desktopportraitinneralign="inherit" data-sstype="content" data-hasbackground="0" data-rotation="0" data-desktopportrait="1" data-desktoplandscape="1" data-tabletportrait="1" data-tabletlandscape="1" data-mobileportrait="1" data-mobilelandscape="1" data-adaptivefont="1" data-desktopportraitfontsize="100" data-plugin="rendered"><div class="n2-ss-section-main-content n2-ss-layer-content n2-ow n-uc-1fd640819ff6d-inner" style="padding:25em 0.625em 0.625em 0.625em ;" data-verticalalign="center"><div class="n2-ss-layer n2-ow" style="margin:0em 0em 0em 0em ;overflow:visible;" data-pm="normal" data-desktopportraitmargin="0|*|0|*|0|*|0|*|px+" data-desktopportraitheight="0" data-has-maxwidth="0" data-desktopportraitmaxwidth="0" data-cssselfalign="inherit" data-desktopportraitselfalign="inherit" data-sstype="layer" data-rotation="0" data-desktopportrait="1" data-desktoplandscape="1" data-tabletportrait="1" data-tabletlandscape="1" data-mobileportrait="1" data-mobilelandscape="1" data-adaptivefont="0" data-desktopportraitfontsize="100" data-plugin="rendered"><div id="n2-ss-2item1" class="n2-font-1d4b2b2792808c2d5886935302675584-hover   n2-ss-item-content n2-ow" style="display:block;">DESCUENTOS</div></div><div class="n2-ss-layer n2-ow" style="margin:0em 0em 0em 0em ;overflow:visible;" data-pm="normal" data-desktopportraitmargin="0|*|0|*|0|*|0|*|px+" data-desktopportraitheight="0" data-has-maxwidth="0" data-desktopportraitmaxwidth="0" data-cssselfalign="inherit" data-desktopportraitselfalign="inherit" data-sstype="layer" data-rotation="0" data-desktopportrait="1" data-desktoplandscape="1" data-tabletportrait="1" data-tabletlandscape="1" data-mobileportrait="1" data-mobilelandscape="1" data-adaptivefont="0" data-desktopportraitfontsize="100" data-plugin="rendered"><div id="n2-ss-2item2" class="n2-font-5489eb360b6763a4f0ef487af3b8da3c-hover   n2-ss-item-content n2-ow" style="display:block;">! Inician las descuentos de Verano !</div></div><div class="n2-ss-layer n2-ow n-uc-1401b93b7cd17" style="margin:0em 0em 0em 0em ;overflow:visible;" data-frontend-fullwidth="1" data-pm="normal" data-desktopportraitmargin="0|*|0|*|0|*|0|*|px+" data-desktopportraitheight="0" data-has-maxwidth="0" data-desktopportraitmaxwidth="0" data-cssselfalign="inherit" data-desktopportraitselfalign="inherit" data-csstextalign="inherit" data-desktopportraitpadding="10|*|10|*|10|*|10|*|px+" data-desktopportraitgutter="20" data-desktopportraitwrapafter="0" data-mobileportraitwrapafter="1" data-mobilelandscapewrapafter="1" data-desktopportraitinneralign="inherit" data-sstype="row" data-rotation="0" data-desktopportrait="1" data-desktoplandscape="1" data-tabletportrait="1" data-tabletlandscape="1" data-mobileportrait="1" data-mobilelandscape="1" data-adaptivefont="0" data-desktopportraitfontsize="100" data-plugin="rendered"><div class="n2-ss-layer-row  n-uc-1401b93b7cd17-inner" style="padding:0.625em 0.625em 0.625em 0.625em ;"><div class="n2-ss-layer-row-inner "><div class="n2-ss-layer n2-ow n-uc-1f8c52002a148" style="width: 50%;margin-right: 20px;margin-top: 20px;overflow:visible;" data-csstextalign="right" data-has-maxwidth="0" data-desktopportraitmaxwidth="0" data-pm="default" data-desktopportraitverticalalign="center" data-desktopportraitpadding="10|*|10|*|10|*|10|*|px+" data-desktopportraitinneralign="right" data-desktopportraitorder="0" data-colwidthpercent="50" data-sstype="col" data-rotation="0" data-desktopportrait="1" data-desktoplandscape="1" data-tabletportrait="1" data-tabletlandscape="1" data-mobileportrait="1" data-mobilelandscape="1" data-adaptivefont="0" data-desktopportraitfontsize="100" data-plugin="rendered"><div class="n2-ss-layer-col n2-ss-layer-content n-uc-1f8c52002a148-inner" style="padding:0.625em 0.625em 0.625em 0.625em ;" data-verticalalign="flex-start"><div class="n2-ss-layer n2-ow" style="margin:0em 0em 0em 0em ;overflow:visible;" data-pm="normal" data-desktopportraitmargin="0|*|0|*|0|*|0|*|px+" data-desktopportraitheight="0" data-has-maxwidth="0" data-desktopportraitmaxwidth="0" data-cssselfalign="inherit" data-desktopportraitselfalign="inherit" data-sstype="layer" data-rotation="0" data-desktopportrait="1" data-desktoplandscape="1" data-tabletportrait="1" data-tabletlandscape="1" data-mobileportrait="1" data-mobilelandscape="1" data-adaptivefont="0" data-desktopportraitfontsize="100" data-plugin="rendered"><div class="n2-ss-button-container n2-ss-item-content n2-ow n2-font-a78b95851b6a23736dfd901e11029479-link  n2-ss-nowrap"><a class="n2-style-3d735fd2d41f86fcd5681bff69ff874e-heading  n2-ow " onclick="return false;" href="#"><div><div>VER OFERTAS</div></div></a></div></div></div></div><div class="n2-ss-layer n2-ow n-uc-1633875c39151" style="width: 50%;margin-right: 20px;margin-top: 20px;overflow:visible;" data-csstextalign="left" data-has-maxwidth="0" data-desktopportraitmaxwidth="0" data-pm="default" data-desktopportraitverticalalign="center" data-desktopportraitpadding="10|*|10|*|10|*|10|*|px+" data-desktopportraitinneralign="left" data-desktopportraitorder="0" data-colwidthpercent="50" data-sstype="col" data-rotation="0" data-desktopportrait="1" data-desktoplandscape="1" data-tabletportrait="1" data-tabletlandscape="1" data-mobileportrait="1" data-mobilelandscape="1" data-adaptivefont="0" data-desktopportraitfontsize="100" data-plugin="rendered"><div class="n2-ss-layer-col n2-ss-layer-content n-uc-1633875c39151-inner" style="padding:0.625em 0.625em 0.625em 0.625em ;" data-verticalalign="flex-start"><div class="n2-ss-layer n2-ow" style="margin:0em 0em 0em 0em ;overflow:visible;" data-pm="normal" data-desktopportraitmargin="0|*|0|*|0|*|0|*|px+" data-desktopportraitheight="0" data-has-maxwidth="0" data-desktopportraitmaxwidth="0" data-cssselfalign="inherit" data-desktopportraitselfalign="inherit" data-sstype="layer" data-rotation="0" data-desktopportrait="1" data-desktoplandscape="1" data-tabletportrait="1" data-tabletlandscape="1" data-mobileportrait="1" data-mobilelandscape="1" data-adaptivefont="0" data-desktopportraitfontsize="100" data-plugin="rendered"><div class="n2-ss-button-container n2-ss-item-content n2-ow n2-font-a78b95851b6a23736dfd901e11029479-link  n2-ss-nowrap"><a class="n2-style-daf9b72afef03a37430807a3636d86dd-heading  n2-ow " onclick="return false;" href="#"><div><div>IR A LA TIENDA</div></div></a></div></div></div></div></div></div></div></div></div></div></div></div><div data-slide-duration="0" data-id="3" style="" class=" n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-3"><div class="n2-ss-slide-background n2-ow" data-mode="fill"><div data-hash="9e93ad6cbf01e73fb5cdaaf46d8e7359" data-desktop="smartslider/images/slider-3-pag-inicio-1920x960px.jpeg" class="n2-ss-slide-background-image" data-blur="0" data-alt="" data-title=""></div></div><div class="n2-ss-layers-container n2-ow"><div class="n2-ss-layer n2-ow" style="padding:10px 10px 10px 10px;" data-desktopportraitpadding="10|*|10|*|10|*|10" data-sstype="slide" data-csstextalign="center" data-pm="default"></div></div></div><div data-slide-duration="0" data-id="5" style="" class=" n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-5"><div class="n2-ss-slide-background n2-ow" data-mode="fill"><div data-hash="d7b26235923788db7e18c083bb4bc1b2" data-desktop="smartslider/images/slider-2-pag-inicio-1920x960px.jpeg" class="n2-ss-slide-background-image" data-blur="0" data-alt="" data-title=""></div></div><div class="n2-ss-layers-container n2-ow"><div class="n2-ss-layer n2-ow" style="padding:10px 10px 10px 10px;" data-desktopportraitpadding="10|*|10|*|10|*|10" data-sstype="slide" data-csstextalign="center" data-pm="default"></div></div></div>                </div>
                    </div>
                    <div data-ssleft="0+15" data-sstop="sliderHeight/2-previousheight/2" id="n2-ss-2-arrow-previous" class="n2-ss-widget n2-ss-widget-hide-mobileportrait nextend-arrow n2-ow nextend-arrow-previous  nextend-arrow-animated-fade n2-ib" style="position: absolute;" role="button" aria-label="previous arrow" tabindex="0"><img class="n2-ow" data-no-lazy="1" data-hack="data-lazy-src" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xMS40MzMgMTUuOTkyTDIyLjY5IDUuNzEyYy4zOTMtLjM5LjM5My0xLjAzIDAtMS40Mi0uMzkzLS4zOS0xLjAzLS4zOS0xLjQyMyAwbC0xMS45OCAxMC45NGMtLjIxLjIxLS4zLjQ5LS4yODUuNzYtLjAxNS4yOC4wNzUuNTYuMjg0Ljc3bDExLjk4IDEwLjk0Yy4zOTMuMzkgMS4wMy4zOSAxLjQyNCAwIC4zOTMtLjQuMzkzLTEuMDMgMC0xLjQybC0xMS4yNTctMTAuMjkiCiAgICAgICAgICBmaWxsPSIjZmZmZmZmIiBvcGFjaXR5PSIwLjgiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPgo8L3N2Zz4=" alt="previous arrow" /></div>
                    <div data-ssright="0+15" data-sstop="sliderHeight/2-nextheight/2" id="n2-ss-2-arrow-next" class="n2-ss-widget n2-ss-widget-hide-mobileportrait nextend-arrow n2-ow nextend-arrow-next  nextend-arrow-animated-fade n2-ib" style="position: absolute;" role="button" aria-label="next arrow" tabindex="0"><img class="n2-ow" data-no-lazy="1" data-hack="data-lazy-src" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xMC43MjIgNC4yOTNjLS4zOTQtLjM5LTEuMDMyLS4zOS0xLjQyNyAwLS4zOTMuMzktLjM5MyAxLjAzIDAgMS40MmwxMS4yODMgMTAuMjgtMTEuMjgzIDEwLjI5Yy0uMzkzLjM5LS4zOTMgMS4wMiAwIDEuNDIuMzk1LjM5IDEuMDMzLjM5IDEuNDI3IDBsMTIuMDA3LTEwLjk0Yy4yMS0uMjEuMy0uNDkuMjg0LS43Ny4wMTQtLjI3LS4wNzYtLjU1LS4yODYtLjc2TDEwLjcyIDQuMjkzeiIKICAgICAgICAgIGZpbGw9IiNmZmZmZmYiIG9wYWNpdHk9IjAuOCIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPg==" alt="next arrow" /></div>
                    <div data-ssright="0+15" data-sstop="0+15" class="n2-ss-widget n2-style-f17ddbf2d8ed14421f9093b94b93b8a9-heading nextend-autoplay n2-ow nextend-autoplay-image n2-ib" style="position: absolute;" role="button" aria-label="Pause autoplay" tabindex="0"><img class="nextend-autoplay-play n2-ow" data-no-lazy="1" data-hack="data-lazy-src" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xMS41OCA3LjAzTDUuMzAyIDIuMTY1QzUuMTY1IDIuMDU3IDUuMDE2IDIgNC44NTcgMiA0LjM4NCAyIDQgMi41MDQgNCAzLjEyNXY5Ljc1YzAgLjYyLjM4NCAxLjEyNS44NTcgMS4xMjUuMTYgMCAuMzA4LS4wNTcuNDM2LS4xNTZMMTEuNTggOC45N2MuMjUtLjE5OC40Mi0uNTU4LjQyLS45NyAwLS40MTItLjE3LS43NzMtLjQyLS45N3oiCiAgICAgICAgICBmaWxsPSIjZmZmZmZmIiBvcGFjaXR5PSIwLjgiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPgo8L3N2Zz4=" alt="Play" /><img class="nextend-autoplay-pause n2-ow" data-no-lazy="1" data-hack="data-lazy-src" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik00IDJ2MTJoM1YySDR6bTUgMHYxMmgzVjJIOXoiIGZpbGw9IiNmZmZmZmYiIG9wYWNpdHk9IjAuOCIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPg==" alt="Pause" />
                    </div>
                </div>
            </div><div id="n2-ss-2-spinner" style="display: none;"><div><div class="n2-ss-spinner-simple-white-container"><div class="n2-ss-spinner-simple-white"></div></div></div></div></div></div><div class="n2_clear"></div><div id="n2-ss-2-placeholder" style="position: relative;z-index:2;background-color:RGBA(0,0,0,0); background-color:RGBA(255,255,255,0);"><img style="width: 100%; max-width:1920px; display: block;opacity:0;margin:0px;" class="n2-ow" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwIiBoZWlnaHQ9Ijk2MCIgPjwvc3ZnPg==" alt="Slider" /></div>
        </div>

<!--        CONTENIDO-->
        <section class="p-5" style="background-color: white">
            <div style="width: 100%;" class="p-2">
                <h2 style="text-shadow: 0px 0px 10px rgba(0,0,0,0.3);font-family: 'Roboto', Sans-serif; font-weight: 600;">
            <span style="justify-content: center; order: initial; display: flex; box-sizing: border-box;margin: 0;border: 0;vertical-align: baseline; font-size: 100%;">
                <span style="width: 120px;height: 5px;background-color: #F15682;box-sizing: border-box;"></span>
            </span>
                    <div class="text-center text-dark"  >
                        <span>! Productos En Oferta !</span>
                    </div>
                </h2>
            </div>
            <productos></productos>
        </section>


        <div class="toast-container toast-bottom-center">
            <div class="toast mb-3" id="cart-toast" data-delay="4000" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-success text-white">
                    <i class="czi-check-circle mr-2"></i>
                    <h6 class="font-size-sm text-white mb-0 mr-auto">Agregado al carrito!</h6>
                    <button class="close text-white ml-2 mb-1" type="button" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="toast-body">Este artículo ha sido añadido a su carrito.</div>
            </div>
        </div>

        <footer class="pt-5" style="background-color: black">
            <div class="container">
                <div class="row pb-2">
                    <div class="col-md-4">
                        <div class="widget pb-2 mb-4">
                            <h3 class="widget-title text-light pb-1">Mantente Informado</h3>
                            <form class="validate"
                                  action="https://studio.us12.list-manage.com/subscribe/post-json?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126&amp;c=?"
                                  method="get" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form">
                                <div class="input-group input-group-overlay flex-nowrap">
                                    <div class="input-group-prepend-overlay"><span
                                        class="input-group-text text-muted font-size-base"><i class="czi-mail"></i></span>
                                    </div>
                                    <input class="form-control prepended-form-control" type="email" name="EMAIL" id="mce-EMAIL"
                                           value="" placeholder="Tu correo" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit" name="subscribe"
                                                id="mc-embedded-subscribe">Suscribete*
                                        </button>
                                    </div>
                                </div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                                </div>
                                <small class="form-text text-light opacity-50" id="mc-helper">*Suscríbase a nuestro boletín para
                                    recibir ofertas de descuentos anticipados, actualizaciones e información sobre nuevos
                                    productos.</small>
                                <div class="subscribe-status"></div>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="row pb-2">
                            <div class="col-md-6 text-center text-md-right mb-4">
                                <div class="mb-3">
                                    <a class="social-btn sb-light sb-twitter ml-2 mb-2" href="#">
                                        <i class="czi-twitter"></i>
                                    </a>
                                    <a class="social-btn sb-light sb-facebook ml-2 mb-2" href="#">
                                        <i class="czi-facebook"></i>
                                    </a>
                                    <a class="social-btn sb-light sb-instagram ml-2 mb-2" href="#">
                                        <i class="czi-instagram"></i>
                                    </a>
                                    <a class="social-btn sb-light sb-pinterest ml-2 mb-2" href="#">
                                        <i class="czi-pinterest"></i>
                                    </a>
                                    <a class="social-btn sb-light sb-youtube ml-2 mb-2" href="#">
                                        <i class="czi-youtube"></i>
                                    </a>
                                </div>
                                <img class="d-inline-block" width="187" src="img/cards-alt.png" alt="Payment methods"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="pt-3" style="background-color: black">
                <div class="container">
                    <div class="pb-2 font-size-xs text-light opacity-50 text-center text-md-left">© Todos Los Derechos
                        Reservados
                        <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Toolbar for handheld devices-->
        <div class="cz-handheld-toolbar">
            <div class="d-table table-fixed w-100">
                <a class="d-table-cell cz-handheld-toolbar-item" href="account-wishlist.html">
                    <span class="cz-handheld-toolbar-icon"><i class="czi-user"></i></span>
                    <span class="cz-handheld-toolbar-label">Mi Cuenta</span></a>
                <a class="d-table-cell cz-handheld-toolbar-item" href="#navbarCollapse" data-toggle="collapse"
                   onclick="window.scrollTo(0, 0)">
                    <span class="cz-handheld-toolbar-icon"><i class="czi-menu"></i></span>
                    <span
                        class="cz-handheld-toolbar-label">Menu</span></a>
                <a class="d-table-cell cz-handheld-toolbar-item"
                   href="shop-cart.html"><span
                    class="cz-handheld-toolbar-icon"><i class="czi-cart"></i><span
                    class="badge badge-danger badge-pill ml-1 carrito_count"></span></span><span class="cz-handheld-toolbar-label">S/.
                <span class="carrito_total"></span></span></a>
            </div>
        </div>

        <!-- Back To Top Button-->
        <a class="btn-scroll-top" href="#top" data-scroll><span
            class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Arriba</span><i
            class="btn-scroll-top-icon czi-arrow-up"> </i></a>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                categorias : []
            }
        },
        created() {
            axios.get('/listado-categorias').then(res => {
                console.log("res.data", res.data);
                this.categorias = res.data;
            });
        },
        mounted() {
            console.log("Componente carrito flotante Montado ");
        },
        methods :{
        }
    }
</script>
