<template>
    <div class="vld-parent">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :on-cancel="onCancel"
                 :is-full-page="fullPage"
                 loader="dots" color="red" background-color="white" :opacity="0.7"
                 >

        </loading>
<!--            <div class="row pt-2 mx-n2" v-if="isView">-->
                <div class="row pt-2 mx-n2" >
                 <div class="col-lg-2 col-sm-3 col-6 px-2 mb-1 mb-sm-4" v-for="(producto, index) in productos" :key="index">

                     <div class="card product-card p-2">
                         <span v-if="producto.precio > producto.precioRebaja" class="badge badge-shadow" style="background-color:red;color: white">
                            -{{(((producto.precio - producto.precioRebaja) / producto.precio)* 100).toFixed(0)}}%</span>
                         <a class="cursormano card-img-top d-block text-center" @click="irDetalle(producto.id)">
                             <img class="rounded" loading="lazy" :src=producto.imagen1 style="height: 150px" alt="Producto">
                         </a>
                         <div class="card-body p-0 px-sm-2 pt-sm-1">
                             <a class="d-block font-size-sm  pb-1 cursormano text-dark font-weight-medium"
                                @click="irACategoria(producto.categoria.id)">{{producto.categoria.nombre}}
                             </a>
                             <div class="font-size-sm mb-1">
                                 <a @click="irDetalle(producto.id)" class="cursormano text-dark">
                                     <span v-if="producto.nombre.length > 18">{{producto.nombre.substring(0,18)}}...</span>
                                     <span v-else>{{producto.nombre.toLowerCase().replace(/\b[a-z]/g,c=>c.toUpperCase())}}</span>
                                 </a>
                             </div>
                             <div class="mt-1">
                                 <div v-if="producto.precio > producto.precioRebaja">
                                     <div class="d-flex justify-content-between">
                                         <div class="font-weight-medium">
                                             Online
                                         </div>
                                         <div class="">
                                             <span class="text-primary font-weight-medium">S/&nbsp;{{producto.precioRebaja.toFixed(2)}}</span>
                                         </div>
                                     </div>
                                     <div class="d-flex justify-content-between">
                                         <div class="font-weight-normal">
                                             Antes
                                         </div>
                                         <div class="">
                                             <span class="text-muted"><del>S/&nbsp;{{producto.precio.toFixed(2)}}</del></span>
                                         </div>
                                     </div>
                                 </div>
                                 <div v-else>
                                     <div class="d-flex justify-content-between" >
                                         <div class="font-weight-medium">
                                             Online
                                         </div>
                                         <div class="">
                                             <span class="text-primary font-weight-medium">S/&nbsp;{{producto.precio.toFixed(2)}}</span>
                                         </div>
                                     </div>
                                     <div>
                                         &nbsp;
                                     </div>
                                 </div>

                                 <div class="d-flex justify-content-center mb-1">
                                     <div class="star-rating">
                                        <span v-for="i in 5">
                                            <i v-if="i > producto.rating" class="font-size-md sr-star czi-star"></i>
                                            <i v-else class="font-size-md sr-star czi-star-filled active"></i>
                                        </span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="px-0 py-1">
                             <button class="btn btn-primary btn-sm btn-block mb-2 py-2 px-0 p-sm-2"
                                     type="button" @click="addddd(producto)">
                                 <i class="czi-cart font-weight-medium font-size-lg mr-1"></i>&nbsp;&nbsp;Agregar
                             </button>
                         </div>
                     </div>

                </div>
            </div>

        <div class="text-center">
            <span class="font-size-lg text-primary">{{to}} <span class="text-dark">de</span> {{total}}</span>
        </div>
        <div class="text-center pt-3 mb-5">
            <a class="btn btn-accent cursormano text-light"
               v-bind:class="{ disabled: isNotFoundLinks }" @click="cargarMas()"><i class="czi-reload ml-1"></i>&nbsp; Cargar Más Ofertas</a>
        </div>


<!--        <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">-->
<!--            <ul class="pagination">-->
<!--                <li class="page-item"><a class="page-link cursormano" @click="anterior"><i class="czi-arrow-left mr-2"></i>Anterior</a></li>-->
<!--            </ul>-->
<!--            <ul class="pagination">-->
<!--                <li class="page-item d-sm-none">-->
<!--                    <span class="page-link page-link-static">{{current_page}}/{{last_page}}</span>-->
<!--                </li>-->
<!--                <li v-for="i in last_page" class="page-item d-none d-sm-block" v-bind:class="{ active: i===current_page }">-->
<!--                    <a class="page-link cursormano" @click="getData(i)" >{{i}}</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <ul class="pagination">-->
<!--                <li class="page-item">-->
<!--                    <a class="page-link cursormano" @click="siguiente" aria-label="Next">Siguiente<i class="czi-arrow-right ml-2"></i></a></li>-->
<!--            </ul>-->
<!--        </nav>-->
    </div>

</template>

<style>
    .ver-producto{
        color: black !important;
        cursor : pointer;
    }
    .ver-producto:hover{
        color: #fe696a !important;
        text-decoration: underline #fe696a !important;
    }

    /*.fade-enter-active, .fade-leave-active {*/
    /*    transition: opacity .3s*/
    /*}*/
    /*.fade-enter, .fade-leave-to !* .fade-leave-active in <2.1.8 *! {*/
    /*    opacity: 0*/
    /*}*/
</style>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        data() {
            return {
                productos: [],
                current_page : 0,
                total : 0,
                per_page: 12,
                to: 0,
                last_page: 3,
                first_page_url: "",
                last_page_url: "",
                next_page_url: "",
                prev_page_url: "",
                path: "",
                isView : true,
                isNotFoundLinks : false,
                isLoading: false,
                fullPage: true
            }
        },

        created() {
           this.getData(1);
            axios.get(`/api/categorias-productos`).then(res => {
                console.log("Categorias con productos ", res);

            });
        },
        mounted() {
            console.log("Mounted component productos!");
        },
        components: {
            Loading
        },
        methods: {

            addddd(producto){
                agregarCarrito(producto);
            },
            anterior(){
                if(this.current_page!=1){
                    this.getData(this.current_page - 1);
                }
            },
            siguiente(){
                if(this.current_page< this.last_page){
                    this.getData(this.current_page + 1);
                }
            },
            // agregarasasdCarrito(producto) {
            //     let carrito = [];
            //     let newcarrito = [];
            //     if (localStorage.getItem("carrito")) {
            //         carrito = JSON.parse(localStorage.getItem("carrito"));
            //         let produ = carrito.find(prod => prod.id == producto.id);
            //         if (produ) {
            //             producto.cantidad = produ.cantidad + 1;
            //             producto.subtotal = producto.cantidad * produ.precioRebaja;
            //             newcarrito = carrito.filter(p => p.id != producto.id);
            //         } else {
            //             newcarrito = carrito;
            //             producto.cantidad = 1;
            //             producto.subtotal = producto.cantidad * producto.precioRebaja;
            //         }
            //     } else {
            //         producto.cantidad = 1;
            //         producto.subtotal = producto.cantidad * producto.precioRebaja;
            //     }
            //     newcarrito.push(producto);
            //     localStorage.setItem("carrito", JSON.stringify(newcarrito));
            //     this.$emit('mostrarSubTotal', total);
            // },
            irDetalle(idProducto) {
                window.location.href = "/producto/"+idProducto;
            },
            irACategoria(idCategoria) {
                window.location.href = `/productos/categoria/${idCategoria}`;
            },
            getData(currentPage) {
                this.isView = false;
                var uri_current = location.href.replace(location.origin,'');
                var to_url_laravel = '';

                if(uri_current === '/tienda'){
                    to_url_laravel = '/listado-productos';
                }else if (uri_current === '/'){
                    to_url_laravel = '/listado-productos-ofertas';
                }else if (uri_current === '/home'){
                    to_url_laravel = '/listado-productos-ofertas';
                }
                else {
                    to_url_laravel = '/listado-productos';
                }

                axios.get(`${to_url_laravel}?page=${currentPage}}`).then(res => {
                    console.log("Paginacion productos en oferta ", res.data);
                    this.productos = res.data.data;
                    this.isView = true;
                    this.current_page = res.data.current_page;
                    this.last_page = res.data.last_page;
                    this.total = res.data.total;
                    this.to = res.data.to;
                    // this.per_page = res.data.per_page;
                    // this.last_page_url = res.data.last_page_url;
                    // this.first_page_url = res.data.first_page_url;
                    // this.next_page_url = res.data.next_page_url;
                    // this.prev_page_url = res.data.prev_page_url;
                    // this.path = res.data.path;
                });
            },
            cargarMas(){
                this.isView = false;
                if(this.current_page > this.last_page - 1){
                    this.isNotFoundLinks = true;
                }else{
                    let currentPage= this.current_page + 1;
                    this.isLoading = true;
                    //VALIDAR SI AUN NO PASA A LA ULTIMA PGINA
                    //SI LLEGA BORRAR EL BOTON DE CARGAR MAS OFERTAS
                    axios.get(`/listado-productos-ofertas?page=${currentPage}`).then(res => {
                        console.log("Cargar mas ", res.data);
                        // res.data.data.forEach
                        this.productos = this.productos.concat(res.data.data);// .push(res.data.data);
                        this.isLoading = false;
                        this.isView = true;
                        this.current_page = res.data.current_page;
                        this.last_page = res.data.last_page;
                        this.to = res.data.to;
                        if(this.current_page > this.last_page - 1){
                            this.isNotFoundLinks = true;
                        }
                    });
                }
            },
            onCancel() {
                console.log('User cancelled the loader.')
            }
        }
    }
</script>

