<template>
    <div class="">
        <div class="row">
            <aside class="col-lg-3">
                <div class="cz-sidebar rounded-lg box-shadow-lg" id="shop-sidebar">
                    <div class="cz-sidebar-header box-shadow-sm">
                        <button class="close ml-auto" type="button" data-dismiss="sidebar" aria-label="Close">
                            <span class="d-inline-block font-size-xs font-weight-bold align-middle">Cerrar</span>
                            <span class="d-inline-block align-middle ml-2" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="cz-sidebar-body" data-simplebar data-simplebar-auto-hide="true">
                        <div class="form-group">
                            <!-- Categories-->
                            <div class="widget widget-categories mb-1 pb-4">
                                <span class="widget-title text-dark">Categorias</span>
                                <div class="accordion mt-n1" id="shop-categories">
                                    <!-- Clothing-->
                                    <div class="card">
                                        <div class="collapse show" id="clothing" data-parent="#shop-categories">
                                            <div class="card-body">
                                                <div class="widget widget-links cz-filter">
                                                    <ul class="widget-list cz-filter-list pt-1 pre-scrollable" style="height: 12rem;">
                                                        <li class="widget-list-item cz-filter-item" v-for="(cat, inde) in categorias" :key="inde">
                                                            <div class="custom-control custom-switch mt-3">
                                                                <input :name="'cat_'+cat.id" :id="'id_cat_'+cat.id" :value="cat.id"
                                                                       class="custom-control-input" type="checkbox" v-model="menu.categorias">
                                                                <label :for="'id_cat_'+cat.id" class="custom-control-label">{{cat.nombre}}</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Price range-->
                            <div class="widget mb-2 pb-2">
                                <h3 class="widget-title text-dark">Rango de Precios </h3>
                                <div class="d-flex flex-column pb-1">
                                    <div class="pr-2 mr-2">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Min. S/</span>
                                            </div>
                                            <input name="minPrecio" class="form-control text-right" type="number" v-model.number="menu.precioMinimo">
                                        </div>
                                    </div>
                                    <div class="pr-2 mr-2 mt-2">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Max. S/</span>
                                            </div>
                                            <input name="maxPrecio" class="form-control text-right" type="number" v-model.number="menu.precioMaximo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget mb-2 pb-4">
                                <h3 class="widget-title text-dark">Ordenar Por</h3>
                                <select class="form-control custom-select" name="orden" id="sorting" v-model="menu.ordenarPor">
                                    <option value="ultimo">Últimos Productos</option>
                                    <option value="bprecio">Bajo - Alto Precio</option>
                                    <option value="aprecio" >Alto - Bajo Precio</option>
                                    <option value="az">Ordenar A - Z</option>
                                    <option value="za">Ordenar Z - A</option>
                                </select>
                            </div>
                            <div class="widget mb-2 pb-4">
                                <button class="btn btn-accent" @click="buscarProductos"><i class="czi-search"></i> &nbsp;Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <section class="col-lg-9 vld-parent">
                <loading :active.sync="isLoading"
                         :can-cancel="true"
                         :on-cancel="onCancel"
                         :is-full-page="false"
                         loader="dots" color="red" background-color="white" :opacity="0.7">
                </loading>
                <div class="row pt-2 mx-n2">
                    <div class="col-xl-2 col-sm-3 col-4 px-1 mb-1 mb-sm-4" v-for="(producto, index) in productos"
                         :key="index">
                        <div class="card product-card px-1 py-1">
                         <span v-if="producto.precio > producto.precioRebaja" class="badge badge-shadow" style="background-color:red;color: white">
                            -{{(((producto.precio - producto.precioRebaja) / producto.precio)* 100).toFixed(0)}}%</span>

                            <a  class="card-img-top d-block text-center cursormano position-relative" @click="irDetalle(producto.id)">
                                <img class="rounded" style="height: 150px" loading="lazy" v-bind:class="{ 'opacity-50': producto.stock==0 }" :src=producto.imagen1 alt="Producto"
                                     @error="$event.target.src='http://tevendo.perumas.pe/productos/no-image-product.png'">
                                <span v-if="producto.stock==0" class="position-absolute badge badge-shadow" style="top: 50%;left: 5px;transform: translate(2px, -50%);background-color:red;color: white">Agotado</span>
                            </a>
                            <div class="card-body p-0 px-sm-2 pt-sm-1">
                                <a class="d-block font-size-xs cursormano text-dark" style="height: 36px"
                                   @click="irACategoria(producto.categoria.id)">
                                    {{producto.categoria.nombre.toLowerCase().replace(/\b[a-z]/g,c=>c.toUpperCase())}}
                                </a>
                                <div class="font-size-sm mb-1" style="height: 30px">
                                    <a @click="irDetalle(producto.id)" class="cursormano text-dark">
                                        <span v-if="producto.nombre.length > 23" class="font-weight-medium">
                                            {{producto.nombre.substring(0,22).toLowerCase().replace(/\b[a-z]/g,c=>c.toUpperCase())}}..</span>
                                        <span v-else class="font-weight-medium">{{producto.nombre.toLowerCase().replace(/\b[a-z]/g,c=>c.toUpperCase())}}</span>
                                    </a>
                                </div>
                                <div class="mt-3">
                                    <div v-if="producto.precio > producto.precioRebaja">
                                        <div class="d-flex justify-content-between">
                                            <div class="font-size-sm font-weight-medium">
                                                Ahora
                                            </div>
                                            <div class="font-size-sm">
                                                <span class="text-primary">S/ {{producto.precioRebaja.toFixed(2)}}</span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="font-size-sm">
                                                Antes
                                            </div>
                                            <div class="font-size-sm">
                                                <span class="text-muted"><del>S/ {{producto.precio.toFixed(2)}}</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <div class="d-flex justify-content-between" >
                                            <div class="font-size-sm font-weight-medium">
                                                Ahora
                                            </div>
                                            <div class="font-size-sm">
                                                <span class="text-primary">S/ {{producto.precio.toFixed(2)}}</span>
                                            </div>
                                        </div>
                                        <div>
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center my-1">
                                        <div class="star-rating">
                                            <span v-for="i in 5">
                                                <i v-if="i > producto.rating" class="sr-star czi-star"></i>
                                                <i v-else class="sr-star czi-star-filled active"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-0 py-1">
                                <button :disabled="producto.stock==0" class="btn btn-primary btn-sm btn-block mb-2 py-1 px-0 p-sm-2"
                                        type="button" @click="addddd(producto)">
                                    <i class="czi-cart font-size-sm mr-1"></i>&nbsp;&nbsp;Agregar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <span class="font-size-lg text-primary"><em>{{to}}</em> <span class="text-dark">de</span> {{total}}</span>
                </div>
                <div class="text-center pt-3 mb-5">
                    <a class="btn btn-accent cursormano text-light"
                       v-bind:class="{ disabled: isNotFoundLinks }" @click="cargarMas()">
                        <i class="czi-reload ml-1"></i>&nbsp;Cargar Más Productos</a>
                </div>
                <div class="d-flex justify-content-sm-center">
                </div>
            </section>
        </div>

    </div>
</template>

<style>
    .ver-producto {
        color: black !important;
        cursor: pointer;
    }

    .ver-producto:hover {
        color: #fe696a !important;
        text-decoration: underline #fe696a !important;
    }

</style>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        props: ['enoferta'],
        data() {
            return {
                menu : {
                    categorias :[],
                    precioMinimo : 0,
                    precioMaximo : 2000,
                    ordenarPor : 'ultimo'
                },
                categorias: [],
                productos: [],
                current_page : 1,
                total : 0,
                per_page : 12,
                to: 0,
                last_page : 3,
                first_page_url : "",
                last_page_url : "",
                next_page_url : "",
                prev_page_url : "",
                path : "",
                isView : true,
                isNotFoundLinks : false,
                isLoading : false,
                fullPage : true
            }
        },
        created() {
            //this.getData(1);
            this.getCategorias();
        },
        mounted() {
            console.log("Mounted component productos!");
        },
        components: {
            Loading
        },
        methods: {
            addddd(producto) {
                agregarCarrito(producto);
            },
            anterior() {
                if (this.current_page !== 1) {
                    this.getData(this.current_page - 1);
                }
            },
            siguiente() {
                if (this.current_page < this.last_page) {
                    this.getData(this.current_page + 1);
                }
            },
            irDetalle(idProducto) {
                window.location.href = "/producto/" + idProducto;
            },
            irACategoria(idCategoria) {
                window.location.href = `/productos/categoria/${idCategoria}`;
            },
            getCategorias() {
                axios.get(`/api/categorias`).then(res => {
                    console.log("Categorias ", res.data);
                    this.categorias = res.data;
                    this.categorias.forEach(cat => {
                        this.menu.categorias.push(cat.id);

                    });
                    this.buscarProductos(1);
                });
            },
            getData(currentPage) {
                this.buscarProductos(currentPage);
            },
            cargarMas() {
                let currentPage = this.current_page + 1;
                this.buscarProductos(currentPage);
            },
            buscarProductos(pagina) {
                console.info("get Productos Tienda");
                console.info("this.enoferta", this.enoferta);
                this.isLoading = true;
                //REALIZA LA BUSQUEDA DESDE EL ITEM 1
                let enoferta = this.enoferta;
                let minPrecio = this.menu.precioMinimo;
                let maxPrecio = this.menu.precioMaximo;
                let orden = this.menu.ordenarPor;
                let categorias = this.menu.categorias.join(',');
                console.log("Categorias a buscar", categorias);

                axios.get(`/api/productos?page=${pagina}&enoferta=${enoferta}&minPrecio=${minPrecio}&maxPrecio=${maxPrecio}&orden=${orden}&categorias=${categorias}`)
                    .then(res => {
                        console.log("Productos", res.data);
                        if(pagina>1){
                            this.productos = this.productos.concat(res.data.data);// .push(res.data.data);
                        }else{
                            this.productos = res.data.data;
                        }
                        this.isLoading = false;
                        this.current_page = res.data.current_page;
                        this.last_page = res.data.last_page;
                        this.to = res.data.to;
                        this.total = res.data.total;
                        console.log('res.data.current_page',res.data.current_page);
                        console.log('res.data.last_page',res.data.last_page);
                        if (res.data.current_page === res.data.last_page) {
                            this.isNotFoundLinks = true;
                        }else{
                            this.isNotFoundLinks = false;
                        }

                });

            },
            onCancel() {
                console.log('User cancelled the loader.')
            }
        }
    }
</script>

