<template>
    <div class="container pb-5 mb-4 mt-3">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :on-cancel="onCancel"
                 :is-full-page="false"
                 loader="dots" color="red" background-color="white" :opacity="0.7">
        </loading>

        <div class="row">
            <section class="col-lg-8">
                <div class="d-flex justify-content-between py-2 pt-sm-1 pb-sm-1">
                    <h2 class="mb-0 text-accent font-weight-bold"><em><i class="czi-cart mr-2 font-weight-bold"></i>Mi Carrito</em></h2>
                    <a class="btn btn-accent btn-sm pl-2" href="/tienda"><i class="czi-arrow-left mr-2"></i>Continuar Comprando</a>
                </div>
                <div v-if="carrito.length == 0" class="container py-3 mb-lg-3">
                    <div class="row justify-content-center pt-lg-4 text-center">
                        <div class="col-lg-5 col-md-7 col-sm-9">
                            <img class="d-block mx-auto mb-5"
                                 :set="imagen='img/pages/404.png'"
                                 :src=imagen width="340" alt="404 Error">
                            <h1 class="h3">Su carrito esta vacío</h1>
                        </div>
                    </div>
                </div>
                <div class="container mt-2">
                    <div class="d-flex justify-content-between align-items-center my-0 my-sm-2 p-2 pb-sm-3 border-bottom"
                         v-for="(pro, index) in carrito" :key="index">
                        <div class="media media-ie-fix d-block d-sm-flex text-sm-left">
                            <a class="d-inline-block mx-auto mr-sm-4 cursormano" @click="irDetalle(pro.id)">
                                <img class="rounded" style="width:120px;" :src=pro.imagen1 alt="Producto"></a>
                            <div class="media-body pt-2">
                                <div class="font-size-sm text-dark font-weight-medium"><a class="cursormano" @click="irACategoria(pro.categoria.id)">{{pro.categoria.nombre}}</a></div>
                                <span class="product-title mb-1"><a class="cursormano" @click="irDetalle(pro.id)">{{pro.nombre}}</a></span>
                                <div class="font-size-lg pt-1">
                                    <small>S/ {{pro.precioRebaja.toFixed(2)}}</small> <small class="text-dark">X {{pro.cantidad}}</small> = <small class="text-primary font-weight-bold">S/ {{pro.subtotal.toFixed(2)}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2 pt-sm-0 pl-sm-3 text-center">
                            <label class="font-weight-medium">Cantidad</label>
                            <div class="mb-0 form-inline">
                                <input disabled class="form-control text-center mr-4" type="text" style="width: 50px" v-model="pro.cantidad">
                                <button type="button" class="btn btn-sm btn-primary py-1 px-2 mr-2" @click="subir(pro)"><i class="czi-arrow-up"></i></button>
                                <button type="button" class="btn btn-sm btn-primary py-1 px-2" @click="bajar(pro)"><i class="czi-arrow-down"></i></button>
                            </div>
                            <button class="btn btn-link px-0 text-primary" @click="borrarItem(pro)" type="button">
                                <i class="czi-close-circle mr-2"></i>
                                <span class="font-size-sm">Quitar</span>
                            </button>
                        </div>
                    </div>
                    <div class="py-3">
                        <button class="btn btn-link px-0 text-primary" type="button" @click="borrarTodo">
                            <i class="czi-trash mr-2"></i>
                            <span class="font-size-md">Limpiar Todo el Carrito</span>
                        </button>
                    </div>
                    <button class="btn btn-accent btn-block mt-3" type="button" @click="actualizarCarrito"><i class="czi-loading font-size-base mr-2"></i>Actualizar Carrito</button>
                </div>
            </section>

            <aside class="col-lg-4 pt-4 pt-lg-0">
                <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
                    <div class="text-center mb-4 pb-3 border-bottom">
                        <h3 class="mb-2 pb-1">Total</h3>
                        <span class="font-weight-bold text-primary" style="font-family: monospace; font-size: 3rem">
                            <em>S/ {{ total.toFixed(2)}}</em>
                        </span>
                    </div>
                    <div class="form-group mb-4">
                        <label class="mb-3" for="order-comments">
                            <span class="badge badge-accent font-size-xs mr-2">Nota:</span>
                            <span class="font-weight-medium">Comentarios Adicionales</span></label>
                        <textarea class="form-control" rows="6" id="order-comments" v-model="metodoPago.comentario">
                </textarea>
                    </div>
                    <div class="card">
                        <div class="card-header font-weight-bold">
                            Forma de Pago
                        </div>
                        <div class="card-body">
                            <div class="custom-control custom-radio mb-2">
                                <input class="custom-control-input" type="radio" id="ex-radio-1" value="1" checked
                                       v-model="metodoPago.idTipoEnvio">
                                <label class="custom-control-label" for="ex-radio-1">Contra Entrega</label>
                            </div>
                            <div class="custom-control custom-radio mb-2">
                                <input class="custom-control-input" type="radio" id="ex-radio-2" value="2"
                                       v-model="metodoPago.idTipoEnvio">
                                <label class="custom-control-label" for="ex-radio-2">Depósito en Cuenta</label>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-shadow btn-primary btn-block mt-4" v-bind:class="{ disabled: carrito.length<=0 }" @click="procesarCompra">
                        <i class="czi-card font-size-lg mr-2"></i>Procesar Tu Compra
                    </a>
                </div>
            </aside>
        </div>
    </div>



</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        data() {
            return {
                carrito : [],
                total: 0,
                metodoPago : {
                    comentario : '',
                    idTipoEnvio : 1,
                    nombreTipoEnvio : 'Contra Entrega'
                },
                isLoading : false,
                fullPage : true
            }
        },
        mounted() {
            console.log("Mounted component carrito!");
            let carrito = JSON.parse(localStorage.getItem("carrito"));
            console.log("carrito", carrito);
            let tot = 0;
            if(carrito){
                carrito.forEach(producto => {
                    tot += producto.subtotal;
                    // producto.imagenPrincipal = producto.imagen.split(',')[0];
                });
                this.carrito = carrito;
            }

            this.total = tot;
            let metodoPa = JSON.parse(localStorage.getItem("metodoPago"));
            if(metodoPa){
                this.metodoPago = metodoPa;
            }

        },
        components: {
            Loading
        },
        methods : {
            irDetalle(idProducto) {
                window.location.href = "/producto/"+idProducto;
            },
            irACategoria(idCategoria) {
                window.location.href = `/productos/categoria/${idCategoria}`;
            },
            mostrarSubTotal(total) {
                this.total = total;
            },
            establecerCero(producto){
                console.log("establecer cero");
                if(producto.cantidad){
                }else{
                    //DESEA QUITAR EL PRODUCTO DE SU LISTA
                    producto.cantidad = 0;
                }
                localStorage.setItem("carrito", JSON.stringify(this.carrito));
                this.calcularTotal();
                showAllCarritos();
            },
            subir(producto){
                producto.cantidad = producto.cantidad + 1;
                this.subirBajarCantidad(producto);
            },
            bajar(producto){
                let canti = producto.cantidad - 1;
                if(canti == 0) {
                    Swal.fire({
                        title: `Mi Carrito`,
                        html: `<span class="text-primary font-weight-bold">No se permite Stock 0.
                                    <p class="text-dark font-weight-medium">¿Desea eliminar el Producto de su Carrito?</p></span>`,
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        console.log("Res consulta", result);
                        //SI
                        if(result.isConfirmed) {
                            //ELIMINAR
                            //isConfirmed : false
                            //isDismissed : true
                            // this.borrarItem(producto);
                            this.carrito = this.carrito.filter(prod => prod.id != producto.id);
                            localStorage.setItem("carrito", JSON.stringify(this.carrito));
                            this.calcularTotal();
                            Swal.fire({
                                icon: 'info',
                                title: 'Mi Carrito',
                                text: 'Se eliminó el producto de su carrito!'
                            });
                        }
                    });
                }else{
                    producto.cantidad = producto.cantidad - 1;
                    this.subirBajarCantidad(producto);
                }
            },
            subirBajarCantidad (producto) {
                // console.log("Hola");
                this.isLoading = true;
                axios.get(`/api/producto/consulta-stock/${producto.id}`).then(res => {
                    // console.log("Stock", res.data);
                    this.isLoading = false;
                    let stockActual = res.data;
                    if(producto.cantidad) {
                        // producto.cantidad = 0;
                        if(producto.cantidad > stockActual) {
                            Swal.fire({
                                icon: 'info',
                                title: 'Mi Carrito',
                                html: `No hay stock suficiente, solo hay <span class="text-primary font-weight-bold">${stockActual} uni.</span> disponibles`
                            }).then((result) => {
                                producto.cantidad = stockActual;
                                // console.log("subirBajarCantidad ", producto);
                                let subtotal = producto.cantidad ==undefined ? 0: producto.cantidad * producto.precioRebaja;
                                producto.subtotal = subtotal;
                                //como es un bind de VUE ya se modifica , this.carrito al modificar un PROducto
                            });
                        } else {
                            // console.log("subirBajarCantidad ", producto);
                            let subtotal = producto.cantidad ==undefined ? 0: producto.cantidad * producto.precioRebaja;
                            producto.subtotal = subtotal;
                        }
                        localStorage.setItem("carrito", JSON.stringify(this.carrito));
                        this.calcularTotal();
                        showAllCarritos();
                    }
                });
            },
            calcularTotal(){
                let total = 0;
                this.carrito.forEach(producto => {
                    total += producto.subtotal;
                });
                this.total = total;
            },
            actualizarCarrito(){
                let carrito = JSON.parse(localStorage.getItem("carrito"));
                this.carrito = carrito;
                if(carrito.length == 0){
                    Swal.fire({
                        icon: 'info',
                        title: 'Mi Carrito',
                        text: 'No Existen Productos en tu carrito'
                    });
                }else{
                    Swal.fire({
                        icon: 'info',
                        title: 'Mi Carrito',
                        text: '¡Carrito Actualizado!'
                    })
                }
                this.calcularTotal();

            },
            borrarItem(producto) {
                Swal.fire({
                    icon: 'question',
                    title: 'Mi Carrito',
                    html: `¿Deseas borrar el producto <span class="font-weight-bold">${producto.nombre}</span>?`,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
                }).then((result) => {
                    console.log("Result :", result);
                    if (result.value) {
                        this.carrito = this.carrito.filter(prod => prod.id != producto.id);
                        localStorage.setItem("carrito", JSON.stringify(this.carrito));
                        this.calcularTotal();
                        Swal.fire({
                            icon: 'info',
                            title: 'Mi Carrito',
                            text: 'Se eliminó el producto de su carrito!'
                        });
                    }

                });
            },
            borrarTodo(){
                Swal.fire({
                    title: 'Mi Carrito',
                    text: "¿Deseas borrar todos los productos de tu carrito?",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
                }).then((result) => {
                    console.log("Result :", result);
                    if (result.value) {
                        this.carrito = [];
                        localStorage.setItem("carrito", JSON.stringify(this.carrito));
                        this.total = 0;
                        showAllCarritos();
                        Swal.fire(
                            'Mi Carrito',
                            'Tus productos fueron eliminados.',
                            'success'
                        )
                    }
                });
            },
            procesarCompra() {
                if (this.metodoPago.idTipoEnvio == 2) {
                    this.metodoPago.nombreTipoEnvio = "Depósito en Cuenta";
                } else {
                    this.metodoPago.nombreTipoEnvio = "Contra Entrega";
                }

                localStorage.setItem("metodoPago", JSON.stringify(this.metodoPago));

                let comentario = '';
                if(this.metodoPago.comentario == ''){
                    comentario = ' y sin ningún Comentario Adicional';
                }

                let mensaje = '¿Deseas procesar la compra?, con el tipo de envío '+this.metodoPago.nombreTipoEnvio +comentario;

                Swal.fire({
                    title: 'Mi Carrito',
                    text: mensaje,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
                }).then((result) => {
                    console.log("Result :", result);
                    if (result.value) {
                        this.metodoPago.nombreTipoEnvio = "Contra Entrega";
                        window.location.href = "/comprar";
                    }
                });

            },
            onCancel() {
                console.log('User cancelled the loader.')
            }
        }
    }
</script>
