<template>
    <div class="container">
        <div class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom" v-for="(pro, index) in carrito" :key="index">
            <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left">
                <a class="d-inline-block mx-auto mr-sm-4" href="shop-single-v1.html" style="width: 10rem;">
                    <img :src=pro.imagen alt="Product"></a>
                <div class="media-body pt-2">
                    <h3 class="product-title font-size-base mb-2"><a href="shop-single-v1.html">{{pro.nombre}}</a></h3>
                    <div class="font-size-sm"><span class="text-muted mr-2">Categoría:</span>{{pro.categoria.nombre}}</div>
                    <div class="font-size-sm"><span class="text-muted mr-2">Descripción:</span>White &amp; Blue</div>
                    <div class="font-size-lg text-accent pt-2">S/. <small>{{pro.precioRebaja.toFixed(2)}}</small> x <small>{{pro.cantidad}}</small> = {{pro.subtotal.toFixed(2)}}</div>
                </div>
            </div>
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 8rem;">
                <div class="form-group mb-0">
                    <label class="font-weight-medium">Cantidad</label>
                    <input class="form-control text-center" min="1" type="number"
                           @change="subirBajarCantidad(pro)" v-model="pro.cantidad">
                </div>
                <button class="btn btn-link px-0 text-danger" @click="borrarItem(pro.id)" type="button">
                    <i class="czi-close-circle mr-2"></i>
                    <span class="font-size-sm">Quitar</span>
                </button>
            </div>
        </div>
        <div id="prueba_nelson">
            asdasd
        </div>
        <button class="btn btn-outline-accent btn-block" type="button" @click="actualizarCarrito"><i class="czi-loading font-size-base mr-2"></i>Actualizar Carrito</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                carrito : [],
            }
        },
        mounted() {
            console.log("ACTUALIZAR Item Mounted ");
            let carrito = JSON.parse(localStorage.getItem("carrito"));
            this.carrito = carrito;
        },
        methods :{
            subirBajarCantidad (producto) {
                console.log("Agregar Cantidad !");

                if(producto.cantidad){

                }else{
                    producto.cantidad = 0;
                }

                console.log("Productos ", producto);

                let subtotal = producto.cantidad * producto.precioRebaja;
                producto.subtotal = subtotal;
                localStorage.setItem("carrito", JSON.stringify(this.carrito));
                let total = 0;
                this.carrito.forEach(producto => {
                    total += producto.subtotal;
                });
                this.$emit('mostrarSubTotal', total);
            },
            actualizarCarrito(){
                let carrito = JSON.parse(localStorage.getItem("carrito"));
                this.carrito = carrito;
                let total = 0;
                this.carrito.forEach(producto => {
                    total += producto.subtotal;
                });
                this.$emit('mostrarSubTotal', total);


                document.getElementById("flotante").innerText = "HOLITAS";

            },
            borrarItem(idProducto){
                this.carrito = this.carrito.filter(producto => producto.id != idProducto);
                localStorage.setItem("carrito", JSON.stringify(this.carrito));
            }
        }
    }
</script>
