<template>
    <aside class="col-lg-4 pt-4 pt-lg-0">
        <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
            <div class="text-center mb-4 pb-3 border-bottom">
                <h2 class="h5 mb-3 pb-1">Sub Total</h2>
                <h3 class="font-weight-normal">
                    S/. {{ total.toFixed(2).toString().split('.')[0]}}.<small>{{ total.toFixed(2).toString().split('.')[1]}}</small>
                </h3>
            </div>
            <div class="form-group mb-4">
                <label class="mb-3" for="order-comments">
                    <span class="badge badge-info font-size-xs mr-2">Nota:</span>
                    <span class="font-weight-medium">Comentarios Adicionales</span></label>
                <textarea class="form-control" rows="6" id="order-comments" v-model="metodoPago.comentario">
                </textarea>
            </div>
            <div class="accordion" id="order-options">
                <div class="card">
                    <div class="card-header">
                        <h3 class="accordion-heading">
                            <a class="collapsed" href="#shipping-estimates" role="button"
                               data-toggle="collapse" aria-expanded="true"
                               aria-controls="shipping-estimates">Forma de Pago
                                <span class="accordion-indicator"></span>
                            </a>
                        </h3>
                    </div>
                    <div class="collapse" id="shipping-estimates" data-parent="#order-options">
                        <div class="card-body">
                            <form class="needs-validation" novalidate>
                                <div class="form-group">
                                    <select class="form-control custom-select" required v-model="metodoPago.tipoEnvio.id">
                                        <option value="0">- Seleccionar -</option>
                                        <option value="1">Pago Contra Entrega</option>
                                        <option value="2">Pago Deposito En Cuenta</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-block mt-4" style="background-color: red" @click="procesarCompra">
                <i class="czi-card font-size-lg mr-2"></i>Procesar Tu Compra
            </a>
        </div>
    </aside>
</template>

<script>
    export default {
        props: ['total'],
        data() {
            return {
                metodoPago : {
                    comentario : '',
                    tipoEnvio : {
                        id : '0',
                        nombre : ''
                    }
                }
            }
        },
        mounted() {
            let carrito = JSON.parse(sessionStorage.getItem("carrito"));
            this.carrito = carrito;
        },
        methods : {
            procesarCompra() {
                this.metodoPago.tipoEnvio.nombre = "Contra Entrega";
                if (this.metodoPago.tipoEnvio == 2) {
                    this.metodoPago.tipoEnvio.nombre = "Deposito en Cuenta";
                }
                localStorage.setItem("metodoPago", JSON.stringify(this.metodoPago));
                window.location.href = "/comprar";
            }
        }
    }

</script>
