<template>
    <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
        <div>



            <div class="widget-cart-item pb-2 border-bottom" v-for="(pro, index) in carrito" :key="index">
                <button class="close text-danger" @click="borrarItem(pro.id)" type="button" aria-label="Remove">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="media align-items-center">
                    <a class="d-block mr-2">
                        <img width="64" :src=pro.imagen alt="Product"/>
                    </a>
                    <div class="media-body">
                        <h6 class="widget-product-title"><a>{{pro.nombre}}</a></h6>
                        <div class="widget-product-meta">
                            <span class="text-accent mr-2">S/. {{pro.precioRebaja.toFixed(2)}}</span>
                            <span class="text-muted">x {{pro.cantidad}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
            <div class="font-size-sm mr-2 py-2">
                <span class="text-muted">Subtotal: S/.</span>
                <span class="text-accent font-size-base ml-1">{{subtotal.toFixed(2)}}</span>
            </div>
            <span id="flotante"></span>
            <a class="btn btn-outline-secondary btn-sm">Ver Carrito<i class="czi-arrow-right ml-1 mr-n1"></i></a>
        </div>
        <a class="btn btn-primary btn-sm btn-block" href="#"><i class="czi-card mr-2 font-size-base align-middle"></i>Comprar</a>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                carrito : [],
                subtotal : 0
            }
        },
        mounted() {
            console.log("Componente carrito flotante Montado ");
            let carrito = JSON.parse(localStorage.getItem("carrito"));
            console.log("carrito ", carrito);
            if(carrito){
                this.carrito = carrito;
            }
            let subtotal = 0;
            carrito.forEach(product => {
                let subtot = product.cantidad * product.precioRebaja;
                subtotal = subtotal + subtot;
            });
            this.subtotal = subtotal;

        },
        methods :{
            borrarItem(idProducto){
                this.carrito = this.carrito.filter(producto => producto.id != idProducto);
                localStorage.setItem("carrito", JSON.stringify(this.carrito));
            }
        }
    }
</script>
